<div class="page-header">
  <h2>Blockquote</h2>
</div>

<div class="selector">
  <code>&lt;blockquote&gt;</code>
  <blockquote>
    In the Bible, shalom means universal flourishing, wholeness and delight – a rich state of affairs in which natural needs are satisfied and natural gifts fruitfully employed, a state of affairs that inspires joyful wonder as its Creator and Savior opens doors and welcomes the creatures in whom he delights. Shalom, in other words, is the way things ought to be.
    <span>– Cornelius Plantinga</span>
  </blockquote>
</div>

<hr>

<pre>
&lt;blockquote&gt;
  ...
  &lt;span&gt;– Attribution&lt;/span&gt;
&lt;/blockquote&gt;<!--
--></pre>
