<div class="container typography">
  <div class="row">
    <aside>
      <nav class="sidebar">
        <h3 class="nav-header">Typography</h3>
        <ul>
          <li>
            <a href="">Typefaces</a>
          </li>
          <li>
            <a href="">Headings</a>
          </li>
          <li>
            <a href="">Typesetting</a>
          </li>
          <li>
            <a href="">Links</a>
          </li>
          <li>
            <a href="">Address</a>
          </li>
          <li>
            <a href="">Blockquote</a>
          </li>
          <li>
            <a href="">Lists</a>
          </li>
          <li>
            <a href="">Description Lists</a>
          </li>
        </ul>
      </nav>
    </aside>

    <main>
      <h1 class="page-header">Typography</h1>

      <div class="">
        <h2>Typefaces</h2>

        <div class="example">
          <p class="tk-acumin-pro">Primary font: "acumin-pro", helvetica, arial, sans-serif</p>
          <p class="tk-acumin-pro text-block--light">Primary font (thin): "acumin-pro", helvetica, arial, sans-serif</p>
          <p class="tk-acumin-pro-extra-condensed">Secondary font: "acumin-pro-extra-condensed", sans-serif</p>
        </div>
      </div>

      <div class="">
        <h2>Headings</h2>

        <div class="example">
          <!--<h1>Heading Level 1</h1>-->
          <h2 class="crds-page-header">Page Heading</h2>
          <h2 class="crds-page-header--no-underline">Page Heading without Underline</h2>
          <h3 class="crds-section-header">Section Heading</h3>
          <!--<h4>Heading Level 4</h4>-->
          <!--<h5>Heading Level 5</h5>-->
          <!--<h6>Heading Level 6</h6>-->
        </div>
      </div>

      <div class="">
        <h2>Horizontal Rule</h2>

        <div class="example">
          <hr>
        </div>
      </div>

      <div class="">
        <h2>Paragraph</h2>

        <div class="example">
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>

      <div class="">
        <h2>Inline Elements</h2>

        <div class="example">
            <p>
              <a href="#" class="crds-help-link">This link directs users to helpful pages.</a>
            </p>

            <p>
              <a href="#">This is a generic link.</a>
            </p>

            <p>
              <small>This is small text.</small>
            </p>

            <p class="crds-receipt-body-text">This text is used in the receipt body.</p>
        </div>
      </div>

      <div class="">
        <h2>Alerts</h2>

        <div class="example">
          <div class="crds-alert crds-alert-warning">
            <p>This is a warning message.</p>
          </div>

          <div class="crds-alert crds-alert-danger">
            <p>This is a danger message.</p>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>