<ddk-typography-jumbotron></ddk-typography-jumbotron>
<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/typography/typefaces"> Typefaces</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/typography/headings">Headings</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/typography/typesetting">Typesetting</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/typography/address">Address</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/typography/blockquote">Blockquote</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/typography/lists">Lists</a>
          </li>
        </ul>
      </nav>
    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>