<div class="page-header">
  <h2>Lists</h2>
</div>

<div class="selector">
  <p>Add a selector of <code>.crds-list</code> to get sane defaults on any list element...</p>
  <div class="crds-example">
<ul class="crds-list">
  <li>Receive one-on-one prayer after the weekend service. Simply stay in your seat after the service is over, and a member of our Prayer Team will ask to pray with you.</li>
  <li>Schedule a listening appointment. During this hour long session, a member of our Pastoral Care team will listen to you and provide a safe place to process whatever you’re going through. If you’d like them to, they are also able to pray for you during that session. </li>
  <li>Join the Prayer Team. If you have a heart for prayer, are actively following Jesus and have served somewhere at Crossroads for at least six months, we’d love to talk to you about joining the Prayer Team. </li>
  <li>Learn more about prayer. Prayer is more than just putting the right words together. It’s about having a relationship with God.   </li>
</ul></div>
</div>


<div class="selector">
  <div class="crds-example">
<ol class="crds-list">
  <li>Receive one-on-one prayer after the weekend service. Simply stay in your seat after the service is over, and a member of our Prayer Team will ask to pray with you.</li>
  <li>Schedule a listening appointment. During this hour long session, a member of our Pastoral Care team will listen to you and provide a safe place to process whatever you’re going through. If you’d like them to, they are also able to pray for you during that session. </li>
  <li>Join the Prayer Team. If you have a heart for prayer, are actively following Jesus and have served somewhere at Crossroads for at least six months, we’d love to talk to you about joining the Prayer Team. </li>
  <li>Learn more about prayer. Prayer is more than just putting the right words together. It’s about having a relationship with God.   </li>
</ol></div>
</div>

<div class="selector">
  <p><code>.list-unstyled</code> will remove padding and any indicators for list-items... </p>
  <div class="crds-example">
<ul class="crds-list list-unstyled">
  <li>Receive one-on-one prayer after the weekend service. Simply stay in your seat after the service is over, and a member of our Prayer Team will ask to pray with you.</li>
  <li>Schedule a listening appointment. During this hour long session, a member of our Pastoral Care team will listen to you and provide a safe place to process whatever you’re going through. If you’d like them to, they are also able to pray for you during that session. </li>
  <li>Join the Prayer Team. If you have a heart for prayer, are actively following Jesus and have served somewhere at Crossroads for at least six months, we’d love to talk to you about joining the Prayer Team. </li>
  <li>Learn more about prayer. Prayer is more than just putting the right words together. It’s about having a relationship with God.   </li>
</ul></div>
</div>

<div class="selector">
  <p><code>.list-inline</code> will render you list with inline-block level elements.</p>
  <div class="crds-example">
<ul class="crds-list list-inline">
  <li>One-on-One</li>
  <li>Listening appointment</li>
  <li>Prayer team</li>
  <li>Learn more</li>
</ul></div>
</div>

<div class="page-header">
  <h2>Definitions</h2>
</div>

<div class="selector">
  <p>The <code>.crds-list</code> selector also supports definition lists in the following manner...
  <div class="crds-example">
<dl class="crds-list">
  <dt>Grace</dt>
  <dd>The free and unmerited favor of God, as manifested in the salvation of sinners and the bestowal of blessings</dd>
  <dt>Truth</dt>
  <dd>Sincerity in action, character, and utterance</dd>
  <dt>Time</dt>
  <dd>The measured or measurable period during which an action, process, or condition exists or continues </dd>
</dl></div>
</div>

