<div class="page-header">
  <h2>Large Buttons</h2>
</div>

<div class="crds-example">
  <a href="#" class="btn btn-lg">Link</a>
  <button class="btn btn-lg" type="submit">Button</button>
  <input class="btn btn-lg" type="button" value="Input">
  <input class="btn btn-lg" type="submit" value="Submit">
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;a href="#" class="btn btn-lg"&gt;Label&lt;/a&gt;
&lt;button class="btn btn-lg" type="submit"&gt;Label&lt;/button&gt;
&lt;input class="btn btn-lg" type="button" value="Input"&gt;
&lt;input class="btn btn-lg" type="submit" value="Submit"&gt;</pre>
</figure>

<div class="page-header">
  <h2>Medium Buttons (Default)</h2>
</div>

<div class="crds-example">
  <a href="#" class="btn">Link</a>
  <button class="btn" type="submit">Button</button>
  <input class="btn" type="button" value="Input">
  <input class="btn" type="submit" value="Submit">
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;a href="#" class="btn"&gt;Label&lt;/a&gt;
&lt;button class="btn" type="submit"&gt;Label&lt;/button&gt;
&lt;input class="btn" type="button" value="Input"&gt;
&lt;input class="btn" type="submit" value="Submit"&gt;</pre>
</figure>

<div class="page-header">
  <h2>Small Buttons</h2>
</div>

<div class="crds-example">
  <a href="#" class="btn btn-sm">Link</a>
  <button class="btn btn-sm" type="submit">Button</button>
  <input class="btn btn-sm" type="button" value="Input">
  <input class="btn btn-sm" type="submit" value="Submit">
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;a href="#" class="btn btn-sm"&gt;Label&lt;/a&gt;
&lt;button class="btn btn-sm" type="submit"&gt;Label&lt;/button&gt;
&lt;input class="btn btn-sm" type="button" value="Input"&gt;
&lt;input class="btn btn-sm" type="submit" value="Submit"&gt;</pre>
</figure>
