<div class="page-header">
  <h2>Large Buttons</h2>
</div>

<div class="crds-example">
  <a href="#" class="btn btn-primary btn-lg">Link</a>
  <button class="btn btn-info btn-lg" type="submit">Button</button>
  <input class="btn btn-gray btn-lg" type="button" value="Input">
  <button class="btn btn-option btn-lg">Option</button>
  <input class="btn btn-default btn-lg" type="submit" value="Submit">
</div>

<div class="page-header">
  <h2>Medium Buttons</h2>
</div>

<div class="crds-example">
  <a href="#" class="btn btn-primary">Link</a>
  <button class="btn btn-info" type="submit">Button</button>
  <input class="btn btn-gray" type="button" value="Input">
  <button class="btn btn-option">Option</button>
  <input class="btn btn-default" type="submit" value="Submit">
</div>

<div class="page-header">
  <h2>Small Buttons</h2>
</div>

<div class="crds-example">
  <a href="#" class="btn btn-primary btn-sm">Link</a>
  <button class="btn btn-info btn-sm" type="submit">Button</button>
  <input class="btn btn-gray btn-sm" type="button" value="Input">
  <button class="btn btn-option btn-sm">Option</button>
  <input class="btn btn-default btn-sm" type="submit" value="Submit">
</div>
