<div class="jumbotron">
  <div class="container">
    <h1>UI Components / Colors</h1>
    <p>When referencing color in your stylesheet overrides, please ensure you're using one of the following variables. These values provide the core color palette for Crossroads' brand identity and have been used to override the Bootstrap defaults, where noted below.</p>
  </div>
</div>

<div class="container swatches">

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="swatch cr-blue"></div>
          <div class="details">
            <strong>$cr-blue</strong>
            <code>#3B6E8F</code><br>
            <code>rgba(59,110,143,1)</code>
          </div>
          <footer>$brand-primary</footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-cyan"></div>
          <div class="details">
            <strong>$cr-cyan</strong>
            <code>#0795E3</code><br>
            <code>rgba(7,149,227,1)</code>
          </div>
          <footer></footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-cyan-lighter"></div>
          <div class="details">
            <strong>$cr-cyan-lighter</strong>
            <code>#0FA8EE</code><br>
            <code>rgba(15,168,238,1)</code>
          </div>
          <footer>$brand-info</footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-teal"></div>
          <div class="details">
            <strong>$cr-teal</strong>
            <code>#58AFA9</code><br>
            <code>rgba(88,175,169,1)</code>
          </div>
          <footer></footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-green"></div>
          <div class="details">
            <strong>$cr-green</strong>
            <code>#5CB85C</code><br>
            <code>rgba(92,184,92,1)</code>
          </div>
          <footer>$brand-success</footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-magenta"></div>
          <div class="details">
            <strong>$cr-magenta</strong>
            <code>#CC2255</code><br>
            <code>rgba(204,34,85,1)</code>
          </div>
          <footer>$brand-danger</footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-orange"></div>
          <div class="details">
            <strong>$cr-orange</strong>
            <code>#F0AD4E</code><br>
            <code>rgba(240,173,78,1)</code>
          </div>
          <footer>$brand-warning</footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-black"></div>
          <div class="details">
            <strong>$cr-black</strong>
            <code>#151515</code><br>
            <code>rgba(21,21,21,1)</code>
          </div>
          <footer></footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-black-alpha"></div>
          <div class="details">
            <strong>$cr-black-alpha</strong>
            <code>#8A8A8A</code><br>
            <code>rgba(21,21,21,0.5)</code>
          </div>
          <footer></footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-gray-darker"></div>
          <div class="details">
            <strong>$cr-gray-darker</strong>
            <code>#4D4D4D</code><br>
            <code>rgba(77,77,77,1)</code>
          </div>
          <footer>$gray-darker</footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-gray-dark"></div>
          <div class="details">
            <strong>$cr-gray-dark</strong>
            <code>#737373</code><br>
            <code>rgba(115,115,115,1);</code>
          </div>
          <footer>$gray-dark</footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-gray"></div>
          <div class="details">
            <strong>$cr-gray</strong>
            <code>#979797</code><br>
            <code>rgba(151,151,151,1)</code>
          </div>
          <footer>$gray</footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-gray-light"></div>
          <div class="details">
            <strong>$cr-gray-light</strong>
            <code>#CDCDCD</code><br>
            <code>rgba(205,205,205,1)</code>
          </div>
          <footer>$gray-light</footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-gray-lighter"></div>
          <div class="details">
            <strong>$cr-gray-lighter</strong>
            <code>#E7E7E7</code><br>
            <code>rgba(231,231,231,1)</code>
          </div>
          <footer>$gray-lighter</footer>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="swatch cr-white"></div>
          <div class="details">
            <strong>$cr-white</strong>
            <code>#FFF</code><br>
            <code>rgba(255,255,255,1)</code>
          </div>
          <footer></footer>
        </div>
      </div>
    </div>
</div>