<div class="jumbotron">
  <div class="container">
    <h1>UI Components / Colors</h1>
    <p>When referencing color in your stylesheet overrides, please ensure you're using one of the following variables. These values provide the core color palette for Crossroads' brand identity and have been used to override the Bootstrap defaults, where noted below.</p>
  </div>
</div>

<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/colors/swatches">Swatches</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/colors/overrides">Overrides</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>