<div class="jumbotron">
  <div class="container">
    <crds-content-block id="UIColorsSectionHeader"></crds-content-block>
  </div>
</div>
<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/colors/swatches">Swatches</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/colors/overrides">Overrides</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/colors/backgrounds">Backgrounds</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>