<div class="page-header">
  <h2>Input Field &mdash; Focus</h2>
</div>

<p>The following code example uses custom styles to demonstrate the <code>:focus</code> state on a <code>.form-control</code> element.</p>

<div class="crds-example">
  <div class="form-group">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control focus-example">
  </div>
</div>

<div class="crds-example dark-theme">
  <div class="form-group">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control focus-example">
  </div>
</div>

<div class="page-header">
  <h2>Input Field &mdash; Valid</h2>
</div>

<div class="crds-example">
  <div class="form-group has-success">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control" value="joe@dirt.com">
  </div>
</div>

<div class="crds-example dark-theme">
  <div class="form-group has-success">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control" value="joe@dirt.com">
  </div>
</div>

<div class="page-header">
  <h2>Input Field &mdash; Invalid</h2>
</div>

<div class="crds-example">
  <div class="form-group has-error">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control" value="larry@">
  </div>
</div>

<div class="crds-example dark-theme">
  <div class="form-group has-error">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control" value="larry@">
  </div>
</div>

<div class="page-header">
  <h2>Input Field &mdash; Invalid with Error Message</h2>
</div>

<div class="crds-example">
  <div class="form-group has-error">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control" value="larry@">
    <p class="helper-text">Email address required</p>
  </div>
</div>

<div class="crds-example dark-theme">
  <div class="form-group has-error">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control" value="larry@">
    <p class="helper-text">Email address required</p>
  </div>
</div>

<div class="page-header">
  <h2>Input Field &mdash; Default with Helper Text</h2>
</div>

<div class="crds-example">
  <div class="form-group">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control">
    <p class="helper-text">Separate additional addresses with a comma</p>
  </div>
</div>

<div class="crds-example dark-theme">
  <div class="form-group">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control">
    <p class="helper-text">Separate additional addresses with a comma</p>
  </div>
</div>