<ddk-tables-jumbotron></ddk-tables-jumbotron>
<div class="container">
  <div class="col-sm-12">
    <div class="page-header">
      <h2>Receipt Table</h2>
    </div>

    <div class="crds-example">
      <div class="table-contrast-bg">
        <div class="table-header">Confirm:</div>

        <table class="table receipt-table">
          <tbody>
            <tr>
              <td>
                <a href="#">Amount:</a>
              </td>

              <td class="amount">$100.00</td>
            </tr>

            <tr>
              <td>
                <a href="#">From:</a>
              </td>

              <td>joe@dirt.com<br>
                <small><a href="#">change</a></small>
              </td>
            </tr>

            <tr>
              <td>
                <a href="#">Frequency:</a>
              </td>

              <td>One Time</td>
            </tr>

            <tr>
              <td>
                <a href="#">Payment:</a>
              </td>

              <td>Account ending in 4242
                <br>
                <small><a href="#">change</a></small>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="page-header">
      <h2>Live Stream Schedule Table</h2>
    </div>

    <div class="crds-example">
      <div class="table-contrast-bg">
        <div class="table-header">Live Stream Schedule</div>
        <div class="table-tagline">Superbowl of Preaching</div>

        <table class="table streaming-table">
          <tbody>
            <tr class="new-day">
              <td>Saturday</td>
              <td>1:00 PM EST</td>
            </tr>
            <tr>
              <td></td>
              <td>3:00 PM EST</td>
            </tr>
            <tr>
              <td></td>
              <td>5:00 PM EST</td>
            </tr>
            <tr>
              <td></td>
              <td>7:00 PM EST</td>
            </tr>
            <tr>
              <td></td>
              <td>9:00 PM EST</td>
            </tr>
            <tr class="new-day">
              <td>Sunday</td>
              <td>8:30 AM EST</td>
            </tr>
            <tr>
              <td></td>
              <td>10:30 AM EST</td>
            </tr>
            <tr>
              <td></td>
              <td>12:30 PM EST</td>
            </tr>
            <tr>
              <td></td>
              <td>2:00 PM EST</td>
            </tr>
            <tr>
              <td></td>
              <td>4:00 PM EST</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>