<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isMenuCollapsed = !isMenuCollapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        <img src="//crossroads-media.s3.amazonaws.com/images/logo.svg" width="130" height="18.69" />
      </a>
    </div>

    <div class="collapse navbar-collapse" [collapse]="isMenuCollapsed">
      <ul class="nav navbar-nav">
        <li dropdown="for-designers">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">For Designers <span class="caret"></span></a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <a routerLink="/designers" routerLinkActive="active">
                <h3 class="mega-menu_title">Guide for Designers</h3>
              </a>
            </div>
          </div>
        </li>

        <li dropdown="for-developers">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">For Developers <span class="caret"></span></a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <a routerLink="/developers" routerLinkActive="active">
                <h3 class="mega-menu_title">Guide for Developers</h3>
              </a>
            </div>
          </div>
        </li>

        <li dropdown="ui-components">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UI Components <span class="caret"></span></a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <a routerLink="/ui" routerLinkActive="active">
                <h3 class="mega-menu_title">Overview of UI Components</h3>
              </a>
              <div class="mega-menu_list">
                <h4>Core</h4>
                <ul>
                  <li><a routerLink="/ui/typography" routerLinkActive="active">Typography</a></li>
                  <li><a routerLink="/ui/colors" routerLinkActive="active">Colors</a></li>
                </ul>
              </div>

              <div class="mega-menu_list">
                <h4>Atoms</h4>
                <ul>
                  <li><a routerLink="/ui/buttons" routerLinkActive="active">Buttons</a></li>
                  <li><a routerLink="/ui/forms" routerLinkActive="active">Forms</a></li>
                  <li><a routerLink="/ui/alerts" routerLinkActive="active">Alerts</a></li>
                  <li><a routerLink="/ui/loaders" routerLinkActive="active">Loaders</a></li>
                  <li><a routerLink="/ui/tables" routerLinkActive="active">Tables</a></li>
                </ul>
              </div>

              <div class="mega-menu_list">
                <h4>Molecules</h4>
              </div>
            </div>
          </div>
        </li>

        <li dropdown="assets">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assets <span class="caret"></span></a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <a routerLink="/assets" routerLinkActive="active">
                <h3 class="mega-menu_title">Assets</h3>
              </a>
              <div class="mega-menu_list">
                <h4>Core</h4>
              </div>

              <div class="mega-menu_list">
                <h4>Atoms</h4>
              </div>

              <div class="mega-menu_list">
                <h4>Molecules</h4>
              </div>
            </div>
          </div>
        </li>

      </ul>

      <ul class="nav navbar-nav pull-right">
        <li class="navbar-text">Enable dark examples?</li>
        <li class="navbar-btn">
          <theme-toggle-switch></theme-toggle-switch>
        </li>
        <li><a href="https://github.com/crdschurch/crds-styleguide">View On Github</a></li>
      </ul>
    </div>
  </div>
</nav>