<div class="page-header">
  <h2>Colors</h2>
</div>

<table class="colors table">
  <thead>
    <tr>
      <th>Variable</th>
      <th>Light Theme</th>
      <th>Dark Theme</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="variable">$gray-base</td>
      <td><span class="swatch cr-gray"></span>#737373</td>
      <td><span class="swatch cr-gray"></span>#737373</td>
    </tr>
    <tr>
      <td class="variable">$gray-darker</td>
      <td><span class="swatch cr-gray-darker"></span>#151515</td>
      <td><span class="swatch cr-gray-darker"></span>#151515</td>
    </tr>
    <tr>
      <td class="variable">$gray-dark</td>
      <td><span class="swatch cr-gray-dark"></span>#4D4D4D</td>
      <td><span class="swatch cr-gray-dark"></span>#4D4D4D</td>
    </tr>
    <tr>
      <td class="variable">$gray</td>
      <td><span class="swatch cr-gray"></span>#737373</td>
      <td><span class="swatch cr-gray"></span>#737373</td>
    </tr>
    <tr>
      <td class="variable">$gray-light</td>
      <td><span class="swatch cr-gray-light"></span>#979797</td>
      <td><span class="swatch cr-gray-light"></span>#979797</td>
    </tr>
    <tr>
      <td class="variable">$gray-lighter</td>
      <td><span class="swatch cr-gray-lighter"></span>#E7E7E7</td>
      <td><span class="swatch cr-gray-lighter"></span>#E7E7E7</td>
    </tr>
    <tr>
      <td class="variable">$brand-primary</td>
      <td><span class="swatch cr-blue"></span>#3B6E8F</td>
      <td><span class="swatch cr-blue"></span>#3B6E8F</td>
    </tr>
    <tr>
      <td class="variable">$brand-success</td>
      <td><span class="swatch cr-green"></span>#5CB85C</td>
      <td><span class="swatch cr-green"></span>#5CB85C</td>
    </tr>
    <tr>
      <td class="variable">$brand-info</td>
      <td><span class="swatch cr-cyan"></span>#0095D9</td>
      <td><span class="swatch cr-cyan"></span>#0095D9</td>
    </tr>
    <tr>
      <td class="variable">$brand-warning</td>
      <td><span class="swatch cr-gold"></span>#E09E06</td>
      <td><span class="swatch cr-gold"></span>#E09E06</td>
    </tr>
    <tr>
      <td class="variable">$brand-danger</td>
      <td><span class="swatch cr-rust"></span>#CC2255</td>
      <td><span class="swatch cr-rust"></span>#CC2255</td>
    </tr>
  </tbody>
</table>

<div class="page-header">
  <h2>Scaffolding</h2>
</div>

<table class="colors table">
  <thead>
    <tr>
      <th>Variable</th>
      <th>Light Theme</th>
      <th>Dark Theme</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="variable">$body-bg</td>
      <td><span class="swatch cr-white"></span>$cr-white</td>
      <td><span class="swatch cr-black"></span>$cr-black</td>
    </tr>
    <tr>
      <td class="variable">$text-color</td>
      <td><span class="swatch cr-gray-dark"></span>$cr-gray-lighter</td>
      <td><span class="swatch cr-gray-lighter"></span>$cr-gray-dark</td>
    </tr>
    <tr>
      <td class="variable">$link-color</td>
      <td><span class="swatch cr-cyan"></span>$cr-cyan</td>
      <td><span class="swatch cr-cyan"></span>$cr-cyan</td>
    </tr>
  </tbody>
</table>

<div class="page-header">
  <h2>Buttons</h2>
</div>

<table class="colors table">
  <thead>
    <tr>
      <th>Variable</th>
      <th>Light Theme</th>
      <th>Dark Theme</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="variable">$btn-default-color</td>
      <td><span class="swatch cr-white"></span>$cr-white</td>
      <td><span class="swatch cr-white"></span>$cr-white</td>
    </tr>
    <tr>
      <td class="variable">$btn-default-bg</td>
      <td><span class="swatch cr-gray-light"></span>$cr-gray-light</td>
      <td><span class="swatch cr-gray-light"></span>$cr-gray-light</td>
    </tr>
    <tr>
      <td class="variable">$btn-default-border</td>
      <td><span class="swatch cr-gray-light"></span>$cr-gray-light</td>
      <td><span class="swatch cr-gray-light"></span>$cr-gray-light</td>
    </tr>
    <tr>
      <td class="variable">$btn-primary-color</td>
      <td><span class="swatch cr-white"></span>$cr-white</td>
      <td><span class="swatch cr-white"></span>$cr-white</td>
    </tr>
    <tr>
      <td class="variable">$btn-info-color</td>
      <td><span class="swatch cr-white"></span>$cr-white</td>
      <td><span class="swatch cr-white"></span>$cr-white</td>
    </tr>
  </tbody>
</table>

<div class="page-header">
  <h2>Forms</h2>
</div>

<table class="colors table">
  <thead>
    <tr>
      <th>Variable</th>
      <th>Light Theme</th>
      <th>Dark Theme</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="variable">$input-bg</td>
      <td><span class="swatch cr-white"></span>$cr-white</td>
      <td><span class="swatch cr-white"></span>$cr-white</td>
    </tr>
    <tr>
      <td class="variable">$input-bg-focus</td>
      <td><span class="swatch cr-white"></span>$input-bg</td>
      <td><span class="swatch cr-white"></span>$input-bg</td>
    </tr>
    <tr>
      <td class="variable">$input-color</td>
      <td><span class="swatch cr-gray"></span>$cr-gray</td>
      <td><span class="swatch cr-gray"></span>$cr-gray</td>
    </tr>
    <tr>
      <td class="variable">$input-border</td>
      <td><span class="swatch cr-gray-light"></span>$cr-cyan-light</td>
      <td><span class="swatch cr-gray-light"></span>$cr-cyan-light</td>
    </tr>
    <tr>
      <td class="variable">$input-border-focus</td>
      <td><span class="swatch cr-cyan-light"></span>$cr-cyan-light</td>
      <td><span class="swatch cr-cyan-light"></span>$cr-cyan-light</td>
    </tr>
    <tr>
      <td class="variable">$input-group-addon-bg</td>
      <td><span class="swatch cr-gray-lighter"></span>$cr-gray-lighter</td>
      <td><span class="swatch cr-gray-lighter"></span>$cr-gray-lighter</td>
    </tr>
    <tr>
      <td class="variable">$input-group-addon-border-color</td>
      <td><span class="swatch cr-gray-light"></span>$input-border</td>
      <td><span class="swatch cr-gray-light"></span>$input-border</td>
    </tr>
  </tbody>
</table>

<div class="page-header">
  <h2>Alerts</h2>
</div>

<table class="colors table">
  <thead>
    <tr>
      <th>Variable</th>
      <th>Light Theme</th>
      <th>Dark Theme</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="variable">$alert-success-bg</td>
      <td><span class="swatch cr-green"></span>lighten($brand-success, 40)</td>
      <td><span class="swatch cr-green"></span>lighten($brand-success, 40)</td>
    </tr>
    <tr>
      <td class="variable">$alert-success-text</td>
      <td><span class="swatch cr-green"></span>$brand-success</td>
      <td><span class="swatch cr-green"></span>$brand-success</td>
    </tr>
    <tr>
      <td class="variable">$alert-success-border</td>
      <td><span class="swatch cr-green"></span>lighten($brand-success, 30)</td>
      <td><span class="swatch cr-green"></span>lighten($brand-success, 30)</td>
    </tr>
    <tr>
      <td class="variable">$alert-info-bg</td>
      <td><span class="swatch cr-cyan"></span>lighten($brand-info, 50)</td>
      <td><span class="swatch cr-cyan"></span>lighten($brand-info, 50)</td>
    </tr>
    <tr>
      <td class="variable">$alert-info-text</td>
      <td><span class="swatch cr-cyan"></span>$brand-info</td>
      <td><span class="swatch cr-cyan"></span>$brand-info</td>
    </tr>
    <tr>
      <td class="variable">$alert-info-border</td>
      <td><span class="swatch cr-cyan"></span>lighten($brand-info, 40)</td>
      <td><span class="swatch cr-cyan"></span>lighten($brand-info, 40)</td>
    </tr>
    <tr>
      <td class="variable">$alert-warning-bg</td>
      <td><span class="swatch cr-gold"></span>lighten($brand-warning, 45)</td>
      <td><span class="swatch cr-gold"></span>lighten($brand-warning, 45)</td>
    </tr>
    <tr>
      <td class="variable">$alert-warning-text</td>
      <td><span class="swatch cr-gold"></span>$brand-warning</td>
      <td><span class="swatch cr-gold"></span>$brand-warning</td>
    </tr>
    <tr>
      <td class="variable">$alert-warning-border</td>
      <td><span class="swatch cr-gold"></span>lighten($brand-warning, 25)</td>
      <td><span class="swatch cr-gold"></span>lighten($brand-warning, 25)</td>
    </tr>
    <tr>
      <td class="variable">$alert-danger-bg</td>
      <td><span class="swatch cr-rust"></span>lighten($brand-danger, 45)</td>
      <td><span class="swatch cr-rust"></span>lighten($brand-danger, 45)</td>
    </tr>
    <tr>
      <td class="variable">$alert-danger-text</td>
      <td><span class="swatch cr-rust"></span>$brand-danger</td>
      <td><span class="swatch cr-rust"></span>$brand-danger</td>
    </tr>
    <tr>
      <td class="variable">$alert-danger-border</td>
      <td><span class="swatch cr-rust"></span>lighten($brand-danger, 40)</td>
      <td><span class="swatch cr-rust"></span>lighten($brand-danger, 40)</td>
    </tr>
  </tbody>
</table>