<div class="text-center">
  <h2>Congratulations! You did it!</h2>
</div>
<br>

<div class="text-center">
  <crds-content-block id="srfpOutputIntroduction"></crds-content-block>
</div>

<app-results-card name="Financial" score="123"></app-results-card>
<app-results-card name="Physical" score="456"></app-results-card>
<app-results-card name="Spiritual" score="789"></app-results-card>
<app-results-card name="Intellectual" score="333"></app-results-card>
<app-results-card name="Relational" score="999"></app-results-card>



<div class="text-center">
  <crds-content-block id="srfpOutputFinal"></crds-content-block>
</div>
