<div class="text-center">
  <h2>Congratulations! You did it!</h2>
</div>
<br>

<div class="text-center">
  <crds-content-block id="srfpOutputIntroduction"></crds-content-block>
</div>

<app-results-card name="Financial" score="{{srfp.financialScore}}"></app-results-card>
<app-results-card name="Physical" score="{{srfp.physicalScore}}"></app-results-card>
<app-results-card name="Spiritual" score="{{srfp.spiritualScore}}"></app-results-card>
<app-results-card name="Intellectual" score="{{srfp.intellectualScore}}"></app-results-card>
<app-results-card name="Relational" score="{{srfp.relationalScore}}"></app-results-card>



<div class="text-center">
  <crds-content-block id="srfpOutputFinal"></crds-content-block>
</div>
