<div class="page-header">
  <h2>Fonts by Typekit</h2>
</div>

<p>To ensure consistent treatment of typography, whether digital or print &mdash; Crossroads has curated a specific set of <a routerLink="/ui/typography/typefaces">typefaces</a> that should be used when rendering any marketing materials or related content.</p>

<p>For digital media, we rely heavily on the inclusion of <a href="http://typekit.com">Adobe Typekit</a> to aid in the delivery and optimal performance for stylized web-fonts. Integration is as simple as dropping the following snippet into the <code>&lt;head&gt;</code> element on your page.</p>

<br>

<pre class="language-markup">
  &lt;script src=https://use.typekit.net/ccb3vpa.js>&lt;/script>
  &lt;script>try&#x0007B;Typekit.load(&#x0007B; async: true &#x0007D;);&#x0007D;catch(e)&#x0007B;&#x0007D;&lt;/script>
</pre>

<br>

<div class="alert alert-warning">
  <p>When working on or deploying applications that are new to the organization, you may need to work with your product owner to include the domain for your project within the <em>"allowed domains"</em> whitelist in Typekit.</p>
</div>
