<div class="page-header">
  <h2>Contextual Backgrounds</h2>
</div>

<div class="page-subheader">
  <h3>Overrides</h3>
</div>

<div class="crds-example backgrounds">
  <p class="bg-primary">Lorem ipsum dolor sit amet, consectetur ...</p>
  <p class="bg-success">Lorem ipsum dolor sit amet, consectetur ...</p>
  <p class="bg-info">Lorem ipsum dolor sit amet, consectetur ...</p>
  <p class="bg-warning">Lorem ipsum dolor sit amet, consectetur ...</p>
  <p class="bg-danger">Lorem ipsum dolor sit amet, consectetur ...</p>
</div>

<div class="page-subheader">
  <h3>Helpers</h3>
</div>

<div class="crds-example backgrounds">
  <p class="bg-blue">Lorem ipsum dolor sit amet, consectetur ...</p>
  <p class="bg-cyan">Lorem ipsum dolor sit amet, consectetur ...</p>
  <p class="bg-gray">Lorem ipsum dolor sit amet, consectetur ...</p>
</div>
