<div class="page-header">
  <h2>Solid Buttons</h2>
</div>

<p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>

<div class="crds-example">
  <a href="#" class="btn btn-primary">Link</a>
  <button class="btn btn-info" type="submit">Button</button>
  <input class="btn btn-gray" type="button" value="Input">
  <input class="btn btn-default" type="submit" value="Submit">
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;a href="#" class="btn btn-primary"&gt;Label&lt;/a&gt;
&lt;button class="btn btn-info" type="submit"&gt;Label&lt;/button&gt;
&lt;input class="btn btn-gray" type="button" value="Input"&gt;
&lt;input class="btn btn-default" type="submit" value="Submit"&gt;</pre>
</figure>

<div class="crds-example dark-theme">
  <a href="#" class="btn btn-primary">Link</a>
  <button class="btn btn-info" type="submit">Button</button>
  <input class="btn btn-gray" type="button" value="Input">
  <input class="btn btn-default" type="submit" value="Submit">
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;a href="#" class="btn btn-primary"&gt;Label&lt;/a&gt;
&lt;button class="btn btn-info" type="submit"&gt;Label&lt;/button&gt;
&lt;input class="btn btn-gray" type="button" value="Input"&gt;
&lt;input class="btn btn-default" type="submit" value="Submit"&gt;</pre>
</figure>

<div class="page-header">
  <h2>Outlined Buttons</h2>
</div>

<div class="crds-example">
  <a href="#" class="btn btn-outline btn-primary">Link</a>
  <button class="btn btn-outline btn-info" type="submit">Button</button>
  <input class="btn btn-outline btn-gray" type="button" value="Input">
  <input class="btn btn-outline btn-default" type="submit" value="Submit">
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;a href="#" class="btn btn-outline btn-primary"&gt;Label&lt;/a&gt;
&lt;button class="btn btn-outline btn-info" type="submit"&gt;Label&lt;/button&gt;
&lt;input class="btn btn-outline btn-gray" type="button" value="Input"&gt;
&lt;input class="btn btn-outline btn-default" type="submit" value="Submit"&gt;</pre>
</figure>

<div class="crds-example dark-theme">
  <a href="#" class="btn btn-outline btn-primary">Link</a>
  <button class="btn btn-outline btn-info" type="submit">Button</button>
  <input class="btn btn-outline btn-gray" type="button" value="Input">
  <input class="btn btn-outline btn-default" type="submit" value="Submit">
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;a href="#" class="btn btn-outline btn-primary"&gt;Label&lt;/a&gt;
&lt;button class="btn btn-outline btn-info" type="submit"&gt;Label&lt;/button&gt;
&lt;input class="btn btn-outline btn-gray" type="button" value="Input"&gt;
&lt;input class="btn btn-outline btn-default" type="submit" value="Submit"&gt;</pre>
</figure>

<div class="page-header">
  <h2>Disabled, Solid Buttons</h2>
</div>

<p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>

<div class="crds-example">
  <a href="#" class="btn disabled">Link</a>
  <button class="btn disabled" type="submit">Button</button>
  <input class="btn disabled" type="button" value="Input">
  <input class="btn disabled" type="submit" value="Submit">
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;a href="#" class="btn disabled"&gt;Label&lt;/a&gt;
&lt;button class="btn disabled" type="submit"&gt;Label&lt;/button&gt;
&lt;input class="btn disabled" type="button" value="Input"&gt;
&lt;input class="btn disabled" type="submit" value="Submit"&gt;</pre>
</figure>

<div class="page-header">
  <h2>Disabled, Outlined Buttons</h2>
</div>

<div class="crds-example">
  <a href="#" class="btn disabled">Link</a>
  <button class="btn disabled" type="submit">Button</button>
  <input class="btn disabled" type="button" value="Input">
  <input class="btn disabled" type="submit" value="Submit">
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;a href="#" class="btn disabled"&gt;Label&lt;/a&gt;
&lt;button class="btn disabled" type="submit"&gt;Label&lt;/button&gt;
&lt;input class="btn disabled" type="button" value="Input"&gt;
&lt;input class="btn disabled" type="submit" value="Submit"&gt;</pre>
</figure>

<div class="page-header">
  <h2>Block Buttons</h2>
</div>

<div class="crds-example">
  <a href="#" class="btn btn-block">Link</a>
  <button class="btn btn-block" type="submit">Button</button>
  <input class="btn btn-block" type="button" value="Input">
  <input class="btn btn-block" type="submit" value="Submit">
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;a href="#" class="btn btn-block"&gt;Label&lt;/a&gt;
&lt;button class="btn btn-block" type="submit"&gt;Label&lt;/button&gt;
&lt;input class="btn btn-block" type="button" value="Input"&gt;
&lt;input class="btn btn-block" type="submit" value="Submit"&gt;</pre>
</figure>