<div class="page-header">
  <h2>Styles</h2>
</div>

<div class="page-subheader">
  <h3>Solid Buttons</h3>
</div>

<p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>

<div class="crds-example">
  <a href="#" class="btn btn-primary">Link</a>
  <button class="btn btn-info" type="submit">Button</button>
  <input class="btn btn-gray" type="button" value="Input">
  <button class="btn btn-option">Option</button>
  <input class="btn btn-default" type="submit" value="Submit">
</div>

<br>
<p>To use this element with the dark theme, add the class <code>dark-theme</code> to the wrapping parent element.</p>

<div class="crds-example dark-theme">
  <a href="#" class="btn btn-primary">Link</a>
  <button class="btn btn-info" type="submit">Button</button>
  <input class="btn btn-gray" type="button" value="Input">
  <button class="btn btn-option">Option</button>
  <input class="btn btn-default" type="submit" value="Submit">
</div>

<div class="page-subheader">
  <h3>Outlined Buttons</h3>
</div>

<div class="crds-example">
  <a href="#" class="btn btn-outline btn-primary">Link</a>
  <button class="btn btn-outline btn-info" type="submit">Button</button>
  <input class="btn btn-outline btn-gray" type="button" value="Input">
  <button class="btn btn-outline btn-option">Option</button>
  <input class="btn btn-outline btn-default" type="submit" value="Submit">
</div>

<br>
<p>To use this element with the dark theme, add the class <code>dark-theme</code> to the wrapping parent element.</p>

<div class="crds-example dark-theme">
  <a href="#" class="btn btn-outline btn-primary">Link</a>
  <button class="btn btn-outline btn-info" type="submit">Button</button>
  <input class="btn btn-outline btn-gray" type="button" value="Input">
  <button class="btn btn-outline btn-option">Option</button>
  <input class="btn btn-outline btn-default" type="submit" value="Submit">
</div>

<div class="page-subheader">
  <h3>Disabled, Solid Buttons</h3>
</div>

<p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>

<div class="crds-example">
  <a href="#" class="btn btn-primary disabled">Link</a>
  <button class="btn btn-info disabled" type="submit">Button</button>
  <input class="btn btn-gray disabled" type="button" value="Input">
  <button class="btn btn-option disabled">Option</button>
  <input class="btn btn-default disabled" type="submit" value="Submit">
</div>

<br>
<p>To use this element with the dark theme, add the class <code>dark-theme</code> to the wrapping parent element.</p>

<div class="crds-example dark-theme">
  <a href="#" class="btn btn-primary disabled">Link</a>
  <button class="btn btn-info disabled" type="submit">Button</button>
  <input class="btn btn-gray disabled" type="button" value="Input">
  <button class="btn btn-option disabled">Option</button>
  <input class="btn btn-default disabled" type="submit" value="Submit">
</div>

<div class="page-subheader">
  <h3>Disabled, Outlined Buttons</h3>
</div>

<div class="crds-example">
  <a href="#" class="btn btn-primary btn-outline disabled">Link</a>
  <button class="btn btn-info btn-outline disabled" type="submit">Button</button>
  <input class="btn btn-gray btn-outline disabled" type="button" value="Input">
  <button class="btn btn-option btn-outline disabled">Option</button>
  <input class="btn btn-default btn-outline disabled" type="submit" value="Submit">
</div>

<br>
<p>To use this element with the dark theme, add the class <code>dark-theme</code> to the wrapping parent element.</p>

<div class="crds-example dark-theme">
  <a href="#" class="btn btn-primary btn-outline disabled">Link</a>
  <button class="btn btn-info btn-outline disabled" type="submit">Button</button>
  <input class="btn btn-gray btn-outline disabled" type="button" value="Input">
  <button class="btn btn-option btn-outline disabled">Option</button>
  <input class="btn btn-default btn-outline disabled" type="submit" value="Submit">
</div>

<div class="page-subheader">
  <h3>Block Buttons</h3>
</div>

<div class="crds-example">
  <a href="#" class="btn btn-primary btn-block">Link</a>
  <button class="btn btn-info btn-block" type="submit">Button</button>
  <input class="btn btn-gray btn-block" type="button" value="Input">
  <button class="btn btn-option btn-block">Option</button>
  <input class="btn btn-default btn-block" type="submit" value="Submit">
</div>

<br>
<p>To use this element with the dark theme, add the class <code>dark-theme</code> to the wrapping parent element.</p>

<div class="crds-example dark-theme">
  <a href="#" class="btn btn-primary btn-block">Link</a>
  <button class="btn btn-info btn-block" type="submit">Button</button>
  <input class="btn btn-gray btn-block" type="button" value="Input">
  <button class="btn btn-option btn-block">Option</button>
  <input class="btn btn-default btn-block" type="submit" value="Submit">
</div>
