<div class="page-header">
  <h2>Base Controls</h2>
</div>

<div class="page-subheader">
  <h3>Input Field</h3>
</div>

<div class="crds-example">
  <div class="form-group">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control">
  </div>
</div>

<div class="page-subheader">
  <h3>Text Area</h3>
</div>

<div class="crds-example">
  <div class="form-group">
    <textarea class="form-control" rows="3" placeholder="Message"></textarea>
  </div>
</div>

<div class="page-subheader">
  <h3>Checkboxes</h3>
</div>

<div class="crds-example">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="" checked>
      Option one is selected
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Option can also be selected
    </label>
  </div>
  <div class="checkbox disabled">
    <label>
      <input type="checkbox" value="" disabled>
      Option three is disabled
    </label>
  </div>
</div>

<div class="page-subheader">
  <h3>Radio Buttons &mdash; Block</h3>
</div>

<div class="crds-example">
  <div class="radio">
    <label>
      <input type="radio" name="lightRadios" id="RadioLight1" value="option1" checked>
      Option one is selected
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="lightRadios" id="RadioLight2" value="option2">
      Option two will deselect option one
    </label>
  </div>
  <div class="radio disabled">
    <label>
      <input type="radio" name="lightRadios" id="RadioLight3" value="option3" disabled>
      Option three is disabled
    </label>
  </div>
</div>

<div class="page-subheader">
  <h3>Radio Buttons &mdash; Inline</h3>
</div>

<div class="crds-example">
  <div class="radio radio-inline">
    <label>
      <input type="radio" name="inlineLight" id="inlineLight1" value="option1" checked>
      Option 1
    </label>
  </div>
  <div class="radio radio-inline">
    <label>
      <input type="radio" name="inlineLight" id="inlineLight2" value="option2">
      Option 2
    </label>
  </div>
  <div class="radio radio-inline disabled">
    <label>
      <input type="radio" name="darkRadios" id="inlineLight3" value="option3" disabled>
      Option 3 (disabled)
    </label>
  </div>
</div>

<div class="page-subheader">
  <h3>Select</h3>
</div>

<div class="crds-example">
  <select class="form-control">
    <option selected disabled>Select an option...</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>
