<div class="page-header">
  <h2>Base Controls</h2>
</div>

<div class="page-subheader">
  <h3>Input Field</h3>
</div>

<div class="crds-example">
  <div class="form-group">
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" value="" placeholder="Email" class="form-control">
  </div>
</div>

<div class="page-subheader">
  <h3>Text Area</h3>
</div>

<div class="crds-example">
  <div class="form-group">
    <textarea class="form-control" rows="3" placeholder="Message"></textarea>
  </div>
</div>

<div class="page-subheader">
  <h3>Checkboxes</h3>
</div>

<div class="crds-example">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="" checked>
      Option one is selected
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Option can also be selected
    </label>
  </div>
  <div class="checkbox disabled">
    <label>
      <input type="checkbox" value="" disabled>
      Option three is disabled
    </label>
  </div>
</div>

<div class="page-subheader">
  <h3>Radio Buttons &mdash; Block</h3>
</div>

<div class="crds-example">
  <div class="radio">
    <input type="radio" name="radioBtns" id="radioBtn1" value="option1" checked>
    <label for="radioBtn1">
      Option one is selected
    </label>
    <div class="check" tabindex="0"></div>
  </div>
  <div class="radio">
    <input type="radio" name="radioBtns" id="radioBtn2" value="option2">
    <label for="radioBtn2">
      Option two will deselect option one
    </label>
    <div class="check" tabindex="0"></div>
  </div>
  <div class="radio disabled">
    <input type="radio" name="radioBtns" id="radioBtn3" value="option3" disabled>
    <label for="radioBtn3">
      Option three is disabled
    </label>
    <div class="check" tabindex="0"></div>
  </div>
</div>

<div class="page-subheader">
  <h3>Radio Buttons &mdash; Inline</h3>
</div>

<div class="crds-example">
  <div class="radio radio-inline">
    <input type="radio" name="inlineRadioBtns" id="inlineRadioBtn1" value="option1" checked>
    <label for="inlineRadioBtn1">
      Option 1
    </label>
    <div class="check" tabindex="0"></div>
  </div>
  <div class="radio radio-inline">
    <input type="radio" name="inlineRadioBtns" id="inlineRadioBtn2" value="option2">
    <label for="inlineRadioBtn2">
      Option 2
    </label>
    <div class="check" tabindex="0"></div>
  </div>
  <div class="radio radio-inline disabled">
    <input type="radio" name="inlineRadioBtns" id="inlineRadioBtn3" value="option3" disabled>
    <label for="inlineRadioBtn3">
      Option 3 (disabled)
    </label>
    <div class="check" tabindex="0"></div>
  </div>
</div>

<div class="page-subheader">
  <h3>Select</h3>
</div>

<div class="crds-example">
  <select class="form-control">
    <option selected disabled>Select an option...</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>