<div class="page-header">
  <h2>Horizontal Button Group</h2>
</div>

<div class="crds-example">
  <div class="btn-group">
    <button class="btn btn-option btn-outline">Option</button>
    <button class="btn btn-option btn-outline">Option</button>
  </div>
</div>

<br>
<p>To use this element with the dark theme, add the class <code>dark-theme</code> to the wrapping parent element.</p>

<div class="crds-example dark-theme">
  <div class="btn-group">
    <button class="btn btn-option btn-outline">Option</button>
    <button class="btn btn-option btn-outline">Option</button>
  </div>
</div>

<div class="page-header">
  <h2>Flexbox Button Group - Horizontal</h2>
</div>

<div class="crds-example">
  <div class="btn-group btn-group--flex-row">
    <button class="btn btn-option btn-option--flex-item btn-outline">Option</button>
    <button class="btn btn-option btn-option--flex-item btn-outline">Option</button>
    <button class="btn btn-option btn-option--flex-item btn-outline">Option</button>
    <button class="btn btn-option btn-option--flex-item btn-outline">Option</button>
    <button class="btn btn-option btn-option--flex-item btn-outline">Option</button>
  </div>
</div>

<br>
<p>To use this element with the dark theme, add the class <code>dark-theme</code> to the wrapping parent element.</p>

<div class="crds-example dark-theme">
  <div class="btn-group btn-group--flex-row">
    <button class="btn btn-option btn-option--flex-item btn-outline">Option</button>
    <button class="btn btn-option btn-option--flex-item btn-outline">Option</button>
    <button class="btn btn-option btn-option--flex-item btn-outline">Option</button>
    <button class="btn btn-option btn-option--flex-item btn-outline">Option</button>
    <button class="btn btn-option btn-option--flex-item btn-outline">Option</button>
  </div>
</div>

<div class="page-header">
  <h2>Flexbox Button Group - Vertical</h2>
</div>

<div class="crds-example">
  <div class="btn-group btn-group--flex-col">
    <button class="btn btn-option btn-option--flex-item btn-outline">
      <div class="row">
        <div>
          <span class="btn-circle__icon">
            <i aria-hidden="true" class="fa fa-circle-thin fa-2x"></i>
            <i aria-hidden="true" class="fa fa-check-circle fa-2x"></i>
          </span>
          Payment Option:
        </div>
        <div>$123.00</div>
      </div>
    </button>
    <button class="btn btn-option btn-option--flex-item btn-outline">
      <div class="row">
        <div>
          <span class="btn-circle__icon">
            <i aria-hidden="true" class="fa fa-circle-thin fa-2x"></i>
            <i aria-hidden="true" class="fa fa-check-circle fa-2x"></i>
          </span>
          Payment Option:
        </div>
        <div>$123.00</div>
      </div>
    </button>
    <button class="btn btn-option btn-option--flex-item btn-outline">
      <div class="row">
        <div>
          <span class="btn-circle__icon">
            <i aria-hidden="true" class="fa fa-circle-thin fa-2x"></i>
            <i aria-hidden="true" class="fa fa-check-circle fa-2x"></i>
          </span>
          Payment Option:
        </div>
        <div>$123.00</div>
      </div>
    </button>
    <button class="btn btn-option btn-option--flex-item btn-outline">
      <div class="row">
        <div>
          <span class="btn-circle__icon">
            <i aria-hidden="true" class="fa fa-circle-thin fa-2x"></i>
            <i aria-hidden="true" class="fa fa-check-circle fa-2x"></i>
          </span>
          Payment Option:
        </div>
        <div>$123.00</div>
      </div>
    </button>
  </div>
</div>

<br>
<p>To use this element with the dark theme, add the class <code>dark-theme</code> to the wrapping parent element.</p>

<div class="crds-example dark-theme">
  <div class="btn-group btn-group--flex-col">
    <button class="btn btn-option btn-option--flex-item btn-outline">
      <div class="row">
        <div>
          <span class="btn-circle__icon">
            <i aria-hidden="true" class="fa fa-circle-thin fa-2x"></i>
            <i aria-hidden="true" class="fa fa-check-circle fa-2x"></i>
          </span>
          Payment Option:
        </div>
        <div>$123.00</div>
      </div>
    </button>
    <button class="btn btn-option btn-option--flex-item btn-outline">
      <div class="row">
        <div>
          <span class="btn-circle__icon">
            <i aria-hidden="true" class="fa fa-circle-thin fa-2x"></i>
            <i aria-hidden="true" class="fa fa-check-circle fa-2x"></i>
          </span>
          Payment Option:
        </div>
        <div>$123.00</div>
      </div>
    </button>
    <button class="btn btn-option btn-option--flex-item btn-outline">
      <div class="row">
        <div>
          <span class="btn-circle__icon">
            <i aria-hidden="true" class="fa fa-circle-thin fa-2x"></i>
            <i aria-hidden="true" class="fa fa-check-circle fa-2x"></i>
          </span>
          Payment Option:
        </div>
        <div>$123.00</div>
      </div>
    </button>
    <button class="btn btn-option btn-option--flex-item btn-outline">
      <div class="row">
        <div>
          <span class="btn-circle__icon">
            <i aria-hidden="true" class="fa fa-circle-thin fa-2x"></i>
            <i aria-hidden="true" class="fa fa-check-circle fa-2x"></i>
          </span>
          Payment Option:
        </div>
        <div>$123.00</div>
      </div>
    </button>
  </div>
</div>

<div class="page-header">
  <h2>Toggle Button Group</h2>
</div>

<div class="crds-example">
  <div class="btn-group btn-group--toggle">
    <button class="btn btn-option btn-outline">Option</button>
    <button class="btn btn-option btn-outline">Option</button>
  </div>
</div>

<br>
<p>To use this element with the dark theme, add the class <code>dark-theme</code> to the wrapping parent element.</p>

<div class="crds-example dark-theme">
  <div class="btn-group btn-group--toggle">
    <button class="btn btn-option btn-outline">Option</button>
    <button class="btn btn-option btn-outline">Option</button>
  </div>
</div>
