<div class="page-header">
  <h2>Groups</h2>
</div>

<div class="alert alert-info">
  <p>For a button to have an active state, the class <code>active</code> must be added to the selector. This can be done using either <a href="https://angular.io/docs/ts/latest/guide/template-syntax.html#!#class-binding" target="_blank" class="alert-link">class binding</a>, .e.g. <code>&#91;class.active&#93;="isActive"</code>, or with the <a href="https://angular.io/docs/ts/latest/guide/template-syntax.html#!#ngClass" target="_blank" class="alert-link">NgClass directive</a>, e.g. <code>&#91;ngClass&#93;="&#123;'active'&#125;"</code>.</p>
</div>

<div class="page-subheader">
  <h3>Button Group</h3>
</div>

<div class="crds-example" data-processed="true">
  <div class="btn-group">
    <button *ngFor="let button of buttons"
            type="button"
            class="btn btn-option btn-outline"
            [class.active]="button === selectedButton"
            (click)="onSelect(button)">{{ button.label }}</button>
  </div>
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;div class="btn-group">
  &lt;button type="button" class="btn btn-option btn-outline">Option 1&lt;/button>
  &lt;button type="button" class="btn btn-option btn-outline">Option 2&lt;/button>
  &lt;button type="button" class="btn btn-option btn-outline">Option 3&lt;/button>
  &lt;button type="button" class="btn btn-option btn-outline">Option 4&lt;/button>
&lt;/div></pre>
</figure>

<div class="page-subheader">
  <h3>Flexbox Button Group - Horizontal</h3>
</div>

<div class="crds-example" data-processed="true">
  <div class="btn-group btn-group-row">
    <button *ngFor="let button of flex_buttons"
            type="button"
            class="btn btn-option btn-flex btn-outline"
            [class.active]="button === selectedButton"
            (click)="onSelect(button)">{{ button.label }}</button>
  </div>
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;div class="btn-group">
  &lt;button type="button" class="btn btn-option btn-flex btn-outline">Option 1&lt;/button>
  &lt;button type="button" class="btn btn-option btn-flex btn-outline">Option 2&lt;/button>
  &lt;button type="button" class="btn btn-option btn-flex btn-outline">Option 3&lt;/button>
  &lt;button type="button" class="btn btn-option btn-flex btn-outline">Option 4&lt;/button>
&lt;/div></pre>
</figure>

<div class="page-header">
  <h2>Toggle Button Group</h2>
</div>

<div class="alert alert-info" role="alert">This button group component requires the inclusion of <a href="https://github.com/valor-software/ng2-bootstrap" target="_blank" class="alert-link">NG-2 Bootstrap</a> - an external resource used to create Bootstrap-like elements in Angular 2 applications. Please refer to <a href="http://valor-software.com/ng2-bootstrap/#/buttons#radio" target="_blank" class="alert-link">this documentation</a> when customizing this component.</div>

<div class="crds-example" data-processed="true">
  <div class="btn-group btn-group-toggle btn-group-teal">
    <label class="btn btn-option"
          [(ngModel)]="radioModel"
          btnRadio="option_a">Option A</label>
    <label class="btn btn-option"
          [(ngModel)]="radioModel"
          btnRadio="option_b">Option B</label>
  </div>
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;div class="btn-group btn-group-toggle btn-group-teal">
  &lt;label class="btn btn-option"
        &#91;(ngModel)]="radioModel"
        btnRadio="option_a">Option A&lt;/label>
  &lt;label class="btn btn-option"
        &#91;(ngModel)]="radioModel"
        btnRadio="option_b">Option B&lt;/label>
&lt;/div></pre>
</figure>
