<div class="page-header">
  <h2>Horizontal Button Group</h2>
</div>

<p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>

<div class="crds-example">
  <div class="btn-group">
    <button class="btn btn-option active">Option</button>
    <button class="btn btn-option">Option</button>
  </div>
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;div class="btn-group"&gt;
  &lt;button class="btn btn-option active"&gt;Option&lt;/button&gt;
  &lt;button class="btn btn-option"&gt;Option&lt;/button&gt;
&lt;/div&gt;
  </pre>
</figure>

<div class="crds-example dark-theme">
  <div class="btn-group">
    <button class="btn btn-option active">Option</button>
    <button class="btn btn-option">Option</button>
  </div>
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;div class="btn-group"&gt;
  &lt;button class="btn btn-option active"&gt;Option&lt;/button&gt;
  &lt;button class="btn btn-option"&gt;Option&lt;/button&gt;
&lt;/div&gt;
  </pre>
</figure>

<div class="page-header">
  <h2>Vertical Button Group</h2>
</div>

<div class="crds-example">
  <a href="#" class="btn btn-outline btn-primary">Link</a>
  <button class="btn btn-outline btn-info" type="submit">Option</button>
  <input class="btn btn-outline btn-gray" type="button" value="Input">
  <input class="btn btn-outline btn-default" type="submit" value="Submit">
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;a href="#" class="btn btn-outline btn-primary"&gt;Label&lt;/a&gt;
&lt;button class="btn btn-outline btn-info" type="submit"&gt;Label&lt;/button&gt;
&lt;input class="btn btn-outline btn-gray" type="button" value="Input"&gt;
&lt;input class="btn btn-outline btn-default" type="submit" value="Submit"&gt;</pre>
</figure>

<div class="page-header">
  <h2>Toggle Button Group</h2>
</div>

<div class="crds-example">
  <div class="btn-group btn-group--toggle">
    <button class="btn btn-option active">Option</button>
    <button class="btn btn-option">Option</button>
  </div>
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;div class="btn-group btn-group--toggle"&gt;
  &lt;button class="btn btn-option active"&gt;Option&lt;/button&gt;
  &lt;button class="btn btn-option"&gt;Option&lt;/button&gt;
&lt;/div&gt;
  </pre>
</figure>

<div class="crds-example dark-theme">
  <div class="btn-group btn-group--toggle">
    <button class="btn btn-option active">Option</button>
    <button class="btn btn-option">Option</button>
  </div>
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;div class="btn-group btn-group--toggle"&gt;
  &lt;button class="btn btn-option active"&gt;Option&lt;/button&gt;
  &lt;button class="btn btn-option"&gt;Option&lt;/button&gt;
&lt;/div&gt;
  </pre>
</figure>