

<div class="page-header">
  <h2>CSS SVG Icons</h2>
</div>

<div class="row">

<div class="col-sm-6">
<div class="crds-example">
<i class="icon icon-1 svg-calendar"></i>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<i class="icon icon-1 svg-check-circle"></i>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<i class="icon icon-1 svg-chevron-left"></i>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<i class="icon icon-1 svg-chevron-right"></i>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<i class="icon icon-1 svg-circle-thin"></i>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<i class="icon icon-1 svg-github"></i>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<i class="icon icon-1 svg-usd"></i>
</div>
</div>

</div>
