<div class="ddk-wrapper">
  <div class="jumbotron">
    <div class="container">
      <h1>{{ landing_page.name }}</h1>
      <p>{{ landing_page.info }}</p>
    </div>
  </div>

  <div class="container">
    <!-- Search bar -->
    <div class="search-bar">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Find a component...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" aria-label="Search">
            <!--<span class="glyphicon glyphicon-search"></span>-->
            Search
          </button>
        </span>
      </div>
    </div>

    <ddk-component-list></ddk-component-list>
  </div>
</div>
