<div class="page-header">
  <h2>Headings</h2>
</div>

<div class="selector">
  <code>&lt;h1&gt;</code>
  <h1>reachout: the outlet</h1>
</div>

<div class="selector">
  <code>&lt;h2&gt;</code>
  <h2>reachout: the outlet</h2>
</div>

<div class="selector">
  <code>&lt;h3&gt;</code>
  <h3>reachout: the outlet</h3>
</div>

<div class="selector">
  <code>&lt;h4&gt;</code>
  <h4>reachout: the outlet</h4>
</div>

<div class="selector">
  <code>&lt;h5&gt;</code>
  <h5>reachout: the outlet</h5>
</div>

<div class="selector">
  <code>&lt;h6&gt;</code>
  <h6>reachout: the outlet</h6>
</div>

