<div class="swatches">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="swatch main cr-blue"></div>
        <div class="details">
          <strong>$cr-blue</strong>
          <p>#3B6E8F</p>
          <p>rgba(59,110,143,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-blue-dark"></div>
        <div class="details">
          <strong>$cr-blue-dark</strong>
          <p>#2B5169</p>
          <p>rgba(43,81,105,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-blue-light"></div>
        <div class="details">
          <strong>$cr-blue-light</strong>
          <p>#A5BDCC</p>
          <p>rgba(165,189,204,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-blue-lighter"></div>
        <div class="details">
          <strong>$cr-blue-lighter</strong>
          <p>#DBE4EA</p>
          <p>rgba(219,228,234,1)</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="swatch main cr-cyan"></div>
        <div class="details">
          <strong>$cr-cyan</strong>
          <p>#0095D9</p>
          <p>rgba(0,149,217,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-cyan-dark"></div>
        <div class="details">
          <strong>$cr-cyan-dark</strong>
          <p>#006D9E</p>
          <p>rgba(0,109,158,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-cyan-light"></div>
        <div class="details">
          <strong>$cr-cyan-light</strong>
          <p>#8BCEED</p>
          <p>rgba(139,206,237,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-cyan-lighter"></div>
        <div class="details">
          <strong>$cr-cyan-lighter</strong>
          <p>#D8EBF8</p>
          <p>rgba(208,235,248,1)</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="swatch main cr-teal"></div>
        <div class="details">
          <strong>$cr-teal</strong>
          <p>#57AFA9</p>
          <p>rgba(87,175,169,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-teal-dark"></div>
        <div class="details">
          <strong>$cr-teal-dark</strong>
          <p>#41807B</p>
          <p>rgba(65,128,123,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-teal-light"></div>
        <div class="details">
          <strong>$cr-teal-light</strong>
          <p>#B3DAD7</p>
          <p>rgba(179,218,215,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-teal-lighter"></div>
        <div class="details">
          <strong>$cr-teal-lighter</strong>
          <p>#E0F0EF</p>
          <p>rgba(224,240,239,1)</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="swatch main cr-orange"></div>
        <div class="details">
          <strong>$cr-orange</strong>
          <p>#C05C04</p>
          <p>rgba(192,92,4,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-orange-dark"></div>
        <div class="details">
          <strong>$cr-orange-dark</strong>
          <p>#8C4303</p>
          <p>rgba(140,67,3,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-orange-light"></div>
        <div class="details">
          <strong>$cr-orange-light</strong>
          <p>#E2B48C</p>
          <p>rgba(226,180,140,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-orange-lighter"></div>
        <div class="details">
          <strong>$cr-orange-lighter</strong>
          <p>#F3E1D1</p>
          <p>rgba(243,225,209,1)</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="swatch main cr-gold"></div>
        <div class="details">
          <strong>$cr-gold</strong>
          <p>#E09E06</p>
          <p>rgba(224,158,6,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-gold-dark"></div>
        <div class="details">
          <strong>$cr-gold-dark</strong>
          <p>#A37304</p>
          <p>rgba(163,115,4,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-gold-light"></div>
        <div class="details">
          <strong>$cr-gold-light</strong>
          <p>#F0D28C</p>
          <p>rgba(240,210,140,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-gold-lighter"></div>
        <div class="details">
          <strong>$cr-gold-lighter</strong>
          <p>#F9EDD1</p>
          <p>rgba(249,237,209,1)</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="swatch cr-gray-darker"></div>
        <div class="details">
          <strong>$cr-gray-darker</strong>
          <p>#151515</p>
          <p>rgba(21,21,21,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-gray-dark"></div>
        <div class="details">
          <strong>$cr-gray-dark</strong>
          <p>#4D4D4D</p>
          <p>rgba(77,77,77,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-gray"></div>
        <div class="details">
          <strong>$cr-gray</strong>
          <p>#737373</p>
          <p>rgba(115,115,115,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-gray-light"></div>
        <div class="details">
          <strong>$cr-gray-light</strong>
          <p>#979797</p>
          <p>rgba(151,151,151,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-gray-lighter"></div>
        <div class="details">
          <strong>$cr-gray-lighter</strong>
          <p>#E7E7E7</p>
          <p>rgba(231,231,231,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-black"></div>
        <div class="details">
          <strong>$cr-black</strong>
          <p>#000000</p>
          <p>rgba(0,0,0,1)</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="swatch cr-white"></div>
        <div class="details">
          <strong>$cr-white</strong>
          <p>#FFFFFF</p>
          <p>rgba(255,255,255,1)</p>
        </div>
      </div>
    </div>
  </div>
</div>