aside > nav {
  margin-top: 3em;
  .list-group-item {
    &.active,
    &.active:hover,
    &.active:focus {
      background: $gray;
      border-color: darken($gray, 10%);
    }
    > a:focus {
      text-decoration: none;
      color: $brand-primary;
    }
  }
}