.swatches {
  .col {
    @media (min-width: $screen-xs) {
      @include make-xs-column(6);
    }

    @media (min-width: $screen-md) {
      @include make-md-column(3);
    }
  }

  .card {
    border: 1px solid $cr-gray-lighter;
    margin-bottom: 2em;
    min-width: 155px;
  }
  .details {
    padding: 0.5em 1em 1em;
    strong {
      display: block;
    }
    p {
      color: $gray-light;
      font-size: .875rem;
      line-height: 1.25rem;
      margin-bottom: 0;
    }
  }
}

.swatch {
  height: 0;
  padding-bottom: 50%;
  width: 100%;
  border-bottom: 1px solid $cr-white;

  &.main {
    @media (min-width: $screen-md) {
      padding-bottom: 110%;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 100%;
    }
  }

  &.cr-blue {
    background: $cr-blue;
  }

  &.cr-blue-dark {
    background: $cr-blue-dark;
  }

  &.cr-blue-light {
    background: $cr-blue-light;
  }

  &.cr-blue-lighter {
    background: $cr-blue-lighter;
  }

  &.cr-cyan {
    background: $cr-cyan;
  }

  &.cr-cyan-dark {
    background: $cr-cyan-dark;
  }

  &.cr-cyan-light {
    background: $cr-cyan-light;
  }

  &.cr-cyan-lighter {
    background: $cr-cyan-lighter;
  }

  &.cr-teal {
    background: $cr-teal;
  }

  &.cr-teal-dark {
    background: $cr-teal-dark;
  }

  &.cr-teal-light {
    background: $cr-teal-light;
  }

  &.cr-teal-lighter {
    background: $cr-teal-lighter;
  }

  &.cr-orange {
    background: $cr-orange;
  }

  &.cr-orange-dark {
    background: $cr-orange-dark;
  }

  &.cr-orange-light {
    background: $cr-orange-light;
  }

  &.cr-orange-lighter {
    background: $cr-orange-lighter;
  }

  &.cr-gold {
    background: $cr-gold;
  }

  &.cr-gold-dark {
    background: $cr-gold-dark;
  }

  &.cr-gold-light {
    background: $cr-gold-light;
  }

  &.cr-gold-lighter {
    background: $cr-gold-lighter;
  }

  &.cr-gray {
    background: $cr-gray;
  }

  &.cr-gray-dark {
    background: $cr-gray-dark;
  }

  &.cr-gray-darker {
    background: $cr-gray-darker;
  }

  &.cr-gray-light {
    background: $cr-gray-light;
  }

  &.cr-gray-lighter {
    background: $cr-gray-lighter;
  }

  &.cr-black {
    background: $cr-black;
  }

  &.cr-white {
    background: $cr-white;
    border-color: $cr-gray-lighter;
  }

  &.cr-green {
    background: $cr-green;
  }

  &.cr-magenta {
    background: $cr-magenta;
  }
}

.table {
  &.colors {
    > thead:first-child > tr:first-child > th {
      // border-top: 1px solid $cr-gray-lighter;
    }

    > thead > tr > th {
      border-bottom: 1px solid $cr-gray-lighter;
      color: $cr-gray-light;
    }

    .variable {
      font-weight: 600;
    }
  }

  &.colors {
    .swatch {
      border: 1px solid $cr-gray-light;
      display: inline-block;
      height: 1.5rem;
      margin-right: 0;
      padding-bottom: 0;
      width: 100%;
      vertical-align: middle;

      @media (min-width: $screen-md) {
        margin-right: 10px;
        margin-left: calc(-1.5rem - 10px);
        width: 1.5rem;
      }
    }
  }
}