.footer {
  width: 100%;
  background-color: $footer-background;
  padding: 2em 0;
  margin-top: 2em;

  .footer-list {
    margin-bottom: 1em;

    @include make-xs-column(12);

    @media (min-width: $screen-sm) {
      @include make-sm-column(6);
    }

    @media (min-width: $screen-md) {
      @include make-md-column(3);
    }

    h5 {
      text-decoration: uppercase;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}