input,
textarea {
  &.form-control {
    &.focus-example {
      background: $cr-white;
      border-color: $input-border-focus;
      box-shadow: inset 0 0 0 1px rgba($input-border-focus, 0.5);
    }
  }
}