.tbd {
  a {
    color: $gray;
  }
}

.jumbotron {
  h1 {
    font-size: 260%;
  }
}

.page-header {
  h2 {
    @extend .font-family-base;
    text-transform: none;
    font-size: 220%;
    font-weight: 600;
  }
}

.selector {
  margin-bottom: 3em;
  > code {
    margin-bottom: 0.5em;
  }
  > .annotation {
    margin-top: 0.5em;
  }
}

.example {
  &.typeface-example {
    font-size: 160%;
    line-height: 120%;
  }
}

.annotation {
  font-weight: 600;
}

pre {
  margin: 2em 0;
}