aside > nav {
  .list-group-item {
    &.active,
    &.active:hover,
    &.active:focus {
      background: $gray;
      border-color: darken($gray, 10%);
    }
    > a:focus {
      text-decoration: none;
      color: $brand-primary;
    }
  }
}

body.crds-dark-theme {
  transition: all 0.3s;
  .crds-example {
    @extend .dark-theme;
  }
}

.component {
  aside {
    @media (min-width: $screen-sm) {
      display: inline-block;
      @include make-sm-column(3);
    }
  }
  > div {
    @include make-xs-column(12);

    @media (min-width: $screen-sm) {
      @include make-sm-column(9);
    }
  }
}

.tbd {
  a {
    color: $gray;
  }
}

.page-heading {
  &:first-child {
    &, h2 {
      margin-top: 0;
    }
  }

  h2, h3 {
    @extend .font-family-base;
    text-transform: none;
  }
  h2 {
    font-size: 220%;
    font-weight: 600;
  }
  h3 {
    @extend .font-family-condensed;
    font-size: 180%;
    font-weight: 400;
  }
}

.page-subheader {
  margin: 3em 0 1em;

  h3 {
    @extend .font-family-condensed;
    font-size: 180%;
  }
}

.selector {
  margin-bottom: 3em;
  > code {
    margin-bottom: 0.5em;
  }
  > .annotation {
    margin-top: 0.5em;
  }
  p > code {
    margin-bottom: 0;
  }
}

.annotation {
  font-weight: 600;
}

.jumbotron {
  margin-bottom: 3em;
}

.crds-example {
  position: relative;
  border: 1px solid;
  margin-top: 1em;
  margin-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  &, & + figure.highlight > pre {
    border-color: $cr-gray-lighter;
    padding: 1.25em;
  }

  & {
    padding-top: 3.25em;
    &:after {
      content: 'Example';
      text-transform: uppercase;
      font-weight: 600;
      font-size: 90%;
      position: absolute;
      top: 1.25em;
      left: 1.5em;
      color: $gray-light;
    }
  }

  &[data-label]:after {
    content: attr(data-label);
  }

  & + figure.highlight > pre {
    margin-top: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 2em;
  }

  .typeface-example & {
    border-radius: 5px;
    font-size: 160%;
    word-wrap: break-word;
    &::after {
      @extend .font-family-base-bold;
      font-style: normal;
      font-size: 56%;
      position: absolute;
      top: 2.25em;
      left: 2.5em;
    }
  }
}