aside > nav {
  margin-top: 3em;
  .list-group-item {
    &.active,
    &.active:hover,
    &.active:focus {
      background: $gray;
      border-color: darken($gray, 10%);
    }
    > a:focus {
      text-decoration: none;
      color: $brand-primary;
    }
  }
}

.component {
  @include make-row;
  aside {
    @media (min-width: $screen-sm) {
      display: inline-block;
      @include make-sm-column(3);
    }
  }
  > div {
    @include make-xs-column(12);

    @media (min-width: $screen-sm) {
      @include make-sm-column(9);
    }
  }
}

.tbd {
  a {
    color: $gray;
  }
}

.page-header {
  h2, h3 {
    @extend .font-family-base;
    text-transform: none;
  }
  h2 {
    font-size: 220%;
    font-weight: 600;
  }
  h3 {
    @extend .font-family-condensed;
    font-size: 180%;
    font-weight: 400;
  }
}

.selector {
  margin-bottom: 3em;
  > code {
    margin-bottom: 0.5em;
  }
  > .annotation {
    margin-top: 0.5em;
  }
}

.example {
  &.typeface-example {
    font-size: 160%;
    line-height: 120%;
    word-wrap: break-word;
  }
}

.annotation {
  font-weight: 600;
}

.crds-example {
  position: relative;
  border: 1px solid;
  margin-top: 1em;
  margin-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  &, & + figure.highlight > pre {
    border-color: $cr-gray-lighter;
    padding: 1.25em;
  }

  & {
    padding-top: 3.25em;
    &:after {
      content: 'Example';
      text-transform: uppercase;
      font-weight: 600;
      font-size: 90%;
      position: absolute;
      top: 1.25em;
      left: 1.5em;
    }
  }

  & + figure.highlight > pre {
    margin-top: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 2em;
  }
}