.nav {
  > li {
    position: static;
  }
}

.mega-menu {
  &_title {
    padding-left: 15px;
    padding-right: 15px;
  }

  &_inner {
    border: none;
    border-radius: 0;
    padding: 1em 0 2em;
    width: 100%;
  }

  &_list {
    @include make-xs-column(12);

    @media (min-width: $screen-sm) {
      @include make-sm-column(4);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}