ddk-sidebar-nav {
  aside {
    display: none;

    @media (min-width: $screen-sm) {
      @include make-sm-column(3);

      display: inline-block;
    }

    .sidebar {
      .nav-header {
        margin: 40px 0 10px;
      }

      ul {
        padding: 0 1em;
      }
    }
  }
}