.tk-acumin-pro-extra-condensed {
  font-size: 20px;
}

.ddk-alerts {
  .example {
    margin-top: 2em;
  }
}

.selector {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  h4 {
    margin-top: 0.5em;
  }
}