<div class="jumbotron">
  <div class="container">
    <content-block id="UIUtilitiesSectionHeader"></content-block>
    <h1>UI Components / Utility Classes</h1>
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h2>Utility Classes</h2>
  </div>

  <div class="page-subheader">
    <h3>Squared Corners</h3>
  </div>

  <p>Adding a class of <code>.square-corners</code> to an element will remove rounded corners.</p>

  <pre class="language-markup">
&lt;div class="square-corners"&gt;...&lt;/div&gt;</pre>
  <br>
  <pre class="language-css">
.square-corners &#123;
  border-radius: 0;
&#125;</pre>

  <div class="page-subheader">
    <h3>Borders</h3>
  </div>

  <div class="crds-example" data-processed="true">
    <p class="no-borders">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    <br>
    <p class="border-top">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <br>
    <p class="border-bottom">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <br>
    <p class="border-ends">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    <br>
    <p class="border-sides">Sed posuere consectetur est at lobortis.</p>
  </div>
  <figure class="highlight">
    <pre class="language-markup">
&lt;p class="no-borders">...&lt;/p>
&lt;p class="border-top">...&lt;/p>
&lt;p class="border-bottom">...&lt;/p>
&lt;p class="border-ends">...&lt;/p>
&lt;p class="border-sides">...&lt;/p></pre>
  </figure>

  <div class="page-subheader">
    <h3>Add Margins</h3>
  </div>

  <p>Adding a class of <code>.push-*</code> to an element will increase its desired margin.</p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Group of Classes</th>
        <th>CSS <code>margin-*</code></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><code>.push</code></td>
        <td><code>margin: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.push-top</code></td>
        <td><code>margin-top: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.push-right</code></td>
        <td><code>margin-right: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.push-bottom</code></td>
        <td><code>margin-bottom: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.push-left</code></td>
        <td><code>margin-left: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.push-ends</code></td>
        <td><code>margin-top: $line-height-computed;</code><br>
        <code>margin-bottom: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.push-sides</code></td>
        <td><code>margin-right: $line-height-computed;</code><br>
        <code>margin-left: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.push-half</code></td>
        <td><code>margin: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.push-half-top</code></td>
        <td><code>margin-top: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.push-half-right</code></td>
        <td><code>margin-right: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.push-half-bottom</code></td>
        <td><code>margin-bottom: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.push-half-left</code></td>
        <td><code>margin-left: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.push-half-ends</code></td>
        <td><code>margin-top: $line-height-computed / 2;</code><br>
        <code>margin-bottom: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.push-half-sides</code></td>
        <td><code>margin-right: $line-height-computed / 2;</code><br>
        <code>margin-left: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.push-quarter-bottom</code></td>
        <td><code>margin-bottom: $line-height-computed / 4;</code></td>
      </tr>
    </tbody>
  </table>

  <div class="page-subheader">
    <h3>Remove Margins</h3>
  </div>

  <p>Adding a class of <code>.flush-*</code> to an element will decrease its desired margin.</p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Group of Classes</th>
        <th>CSS <code>margin-*</code></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><code>.flush</code></td>
        <td><code>margin: 0;</code></td>
      </tr>
      <tr>
        <td><code>.flush-top</code></td>
        <td><code>margin-top: 0;</code></td>
      </tr>
      <tr>
        <td><code>.flush-right</code></td>
        <td><code>margin-right: 0;</code></td>
      </tr>
      <tr>
        <td><code>.flush-bottom</code></td>
        <td><code>margin-bottom: 0;</code></td>
      </tr>
      <tr>
        <td><code>.flush-left</code></td>
        <td><code>margin-left: 0;</code></td>
      </tr>
      <tr>
        <td><code>.flush-ends</code></td>
        <td><code>margin-top: 0;</code><br>
        <code>margin-bottom: 0;</code></td>
      </tr>
      <tr>
        <td><code>.flush-sides</code></td>
        <td><code>margin-right: 0;</code><br>
        <code>margin-left: 0;</code></td>
      </tr>
    </tbody>
  </table>

  <div class="page-subheader">
    <h3>Add Padding</h3>
  </div>

  <p>Adding a class of <code>.soft-*</code> to an element will increase its desired padding.</p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Group of Classes</th>
        <th>CSS <code>padding-*</code></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><code>.soft</code></td>
        <td><code>padding: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.soft-top</code></td>
        <td><code>padding-top: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.soft-right</code></td>
        <td><code>padding-right: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.soft-bottom</code></td>
        <td><code>padding-bottom: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.soft-left</code></td>
        <td><code>padding-left: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.soft-ends</code></td>
        <td><code>padding-top: $line-height-computed;</code><br>
        <code>padding-bottom: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.soft-sides</code></td>
        <td><code>padding-right: $line-height-computed;</code><br>
        <code>padding-left: $line-height-computed;</code></td>
      </tr>
      <tr>
        <td><code>.soft-half</code></td>
        <td><code>padding: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.soft-half-top</code></td>
        <td><code>padding-top: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.soft-half-right</code></td>
        <td><code>padding-right: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.soft-half-bottom</code></td>
        <td><code>padding-bottom: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.soft-half-left</code></td>
        <td><code>padding-left: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.soft-half-ends</code></td>
        <td><code>padding-top: $line-height-computed / 2;</code><br>
        <code>padding-bottom: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.soft-half-sides</code></td>
        <td><code>padding-right: $line-height-computed / 2;</code><br>
        <code>padding-left: $line-height-computed / 2;</code></td>
      </tr>
      <tr>
        <td><code>.soft-quarter</code></td>
        <td><code>padding: $line-height-computed / 4;</code></td>
      </tr>
      <tr>
        <td><code>.soft-quarter-right</code></td>
        <td><code>padding-right: $line-height-computed / 4;</code></td>
      </tr>
      <tr>
        <td><code>.soft-quarter-left</code></td>
        <td><code>padding-left: $line-height-computed / 4;</code></td>
      </tr>
      <tr>
        <td><code>.soft-quarter-bottom</code></td>
        <td><code>padding-bottom: $line-height-computed / 4;</code></td>
      </tr>
    </tbody>
  </table>

  <div class="page-subheader">
    <h3>Remove Padding</h3>
  </div>

  <p>Adding a class of <code>.hard-*</code> to an element will decrease its desired padding.</p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Group of Classes</th>
        <th>CSS <code>padding-*</code></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><code>.hard</code></td>
        <td><code>padding: 0;</code></td>
      </tr>
      <tr>
        <td><code>.hard-top</code></td>
        <td><code>padding-top: 0;</code></td>
      </tr>
      <tr>
        <td><code>.hard-right</code></td>
        <td><code>padding-right: 0;</code></td>
      </tr>
      <tr>
        <td><code>.hard-bottom</code></td>
        <td><code>padding-bottom: 0;</code></td>
      </tr>
      <tr>
        <td><code>.hard-left</code></td>
        <td><code>padding-left: 0;</code></td>
      </tr>
      <tr>
        <td><code>.hard-ends</code></td>
        <td><code>padding-top: 0;</code><br>
        <code>padding-bottom: 0;</code></td>
      </tr>
      <tr>
        <td><code>.hard-sides</code></td>
        <td><code>padding-right: 0;</code><br>
        <code>padding-left: 0;</code></td>
      </tr>
    </tbody>
  </table>

  <div class="page-subheader">
    <h3>Vertical Positioning</h3>
  </div>

  <pre class="language-markup">
&lt;div class="vertical-center"&gt;...&lt;/div&gt;
&lt;div class="vertical-bottom"&gt;...&lt;/div&gt;
&lt;div class="vertical-10"&gt;...&lt;/div&gt;
&lt;div class="vertical-20"&gt;...&lt;/div&gt;
&lt;div class="vertical-70"&gt;...&lt;/div&gt;
&lt;div class="vertical-80"&gt;...&lt;/div&gt;</pre>

  <br>

  <pre class="language-css">
.vertical-center &#123;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
&#125;
.vertical-bottom &#123;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  width: 100%;
&#125;
.vertical-10 &#123;
  position: absolute;
  left: 50%;
  top: 10;
  transform: translate(-50%, -10%);
  width: 100%;
&#125;
.vertical-20 &#123;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  width: 100%;
&#125;
.vertical-70 &#123;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -70%);
  width: 100%;
&#125;
.vertical-80 &#123;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
  width: 100%;
&#125;</pre>
</div>