<div class="jumbotron">
  <div class="container">
    <h1>UI Components / Utility Classes</h1>
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h2>Contextual Colors</h2>
  </div>
  <div class="crds-example">
    <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
  </div>

  <div class="page-header">
    <h2>Contextual Backgrounds</h2>
  </div>
  <div class="crds-example">
    <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
  </div>

  <div class="page-header">
    <h2>Close Icon</h2>
  </div><div class="crds-example">
    <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
  </div>

  <div class="page-header">
    <h2>Carets</h2>
  </div><div class="crds-example">
    <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
  </div>

  <div class="page-header">
    <h2>Quick Floats</h2>
  </div><div class="crds-example">
    <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
  </div>

  <div class="page-header">
    <h2>Center Content Blocks</h2>
  </div><div class="crds-example">
    <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
  </div>

  <div class="page-header">
    <h2>Clearfix</h2>
  </div><div class="crds-example">
    <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
  </div>

  <div class="page-header">
    <h2>Showing/Hiding Content</h2>
  </div><div class="crds-example">
    <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
  </div>

  <div class="page-header">
    <h2>Screen Reader &amp; Keyboard Navigation Content</h2>
  </div><div class="crds-example">
    <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
  </div>

  <div class="page-header">
    <h2>Image Replacement</h2>
  </div><div class="crds-example">
    <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
  </div>

</div>