<div class="page-header">
  <h2>Typesetting</h2>
</div>

<div class="alert alert-warning">
  <p>In order to acheive a balance of both readability &amp; relative scale across the entire codebase, we've selected a base-font size of <code>16px</code> since that is the number most commonly associated with modern browser defaults, e.g. <code>16px = 1em</code>. Accordingly, this value has been used to override Bootstrap's <code>$font-size-base</code> variable.</p>
</div>

<div class="page-subheader">
  <h3>Body Content</h3>
</div>

<div class="selector">
  <p>To provide the best possible reading experience for any content-heavy pages, we recommend rendering most copy with a font-size of <code>19px</code>. To ensure any copy (whether encapsulated with <code>&lt;p&gt;</code> or not) is rendered at this size, simply wrap the main content area of your page with <code>&lt;main&gt;</code> or apply <code>.main</code> to the parent element.</p>

  <div class="crds-example">
<main>
  <p>Build relationships with the homeless in our city by hanging out at The Outlet at City Gospel Mission, a place where they can recharge and connect with people who care about them by providing positive interpersonal relationships.</p>
</main>

<div class="main">
  Whether it’s playing cards, shooting pool or just sharing stories, friendships are built and hope is transferred at The Outlet. And through the relationships established there, the homeless are then encouraged to enter into long-term recovery programs.
</div></div>
</div>

<div class="selector">
  <p>You can highlight a block of content by applying the <code>.lead</code> selector to the containing parent element. </p>
  <div class="crds-example">
<p class="lead">Build relationships with the homeless in our city by hanging out at The Outlet at City Gospel Mission, a place where they can recharge and connect with people who care about them by providing positive interpersonal relationships. Whether it’s playing cards, shooting pool or just sharing stories, friendships are built and hope is transferred at The Outlet. And through the relationships established there, the homeless are then encouraged to enter into long-term recovery programs.</p></div>
</div>

<div class="selector">
  <p>Use the <code>.quiet</code> selector when you want to decrease the prominence of a certain block of copy.</p>
  <div class="crds-example">
<p class="quiet">Build relationships with the homeless in our city by hanging out at The Outlet at City Gospel Mission, a place where they can recharge and connect with people who care about them by providing positive interpersonal relationships. Whether it’s playing cards, shooting pool or just sharing stories, friendships are built and hope is transferred at The Outlet. And through the relationships established there, the homeless are then encouraged to enter into long-term recovery programs.</p></div>
</div>

<!-- // -->

<div class="page-subheader">
  <h3>Metadata</h3>
  <hr>
</div>

<div class="selector">
  <p>Use <code>.metadata</code> for secondary, related content...</p>
  <div class="crds-example">
<p class="metadata">Runs: November 14 - December 25</p></div>
</div>

<div class="selector">
  <p>Use <code>.subtitle</code> to boost the prominence of certain content elements...</p>
  <div class="crds-example">
<p class="subtitle">Find Freedom</p></div>
</div>

<div class="selector">
  <p>Use <code>.tagline</code> for accented copy...</p>
  <div class="crds-example">
<p class="tagline">Experience our live stream</p></div>
</div>

<!-- // -->

<div class="page-subheader">
  <h3>Inline Text</h3>
  <hr>
</div>

<div class="selector">
  <p>No surprise here: <code>&lt;strong&gt;</code> provides bolded text...</p>
  <div class="crds-example main">
<p>Crossroads is <strong>one church</strong> happening in multiple locations. </p></div>
</div>

<div class="selector">
  <p><code>&lt;em&gt;</code> provides emphasis...</p>
  <div class="crds-example main">
<p class="body">Crossroads is one church happening in <em>multiple</em> locations. </p></div>
</div>

<div class="selector">
  <p><code>&lt;small&gt;</code> renders text with less prominence and size...</p>
  <div class="crds-example main">
<p class="body"><small>Crossroads is one church happening in multiple locations.</small></p></div>
</div>

<!-- // -->

<div class="page-subheader">
  <h3>Alignment</h3>
  <hr>
</div>

<div class="selector">
  <p>You can easily align text with <code>.text-*</code> selectors...</p>
  <div class="crds-example main">
<p class="text-left">Whatever your thoughts on church...</p>
<p class="text-center">whatever your beliefs about God...</p>
<p class="text-right">you are welcome here.</p></div>
</div>

<!-- // -->

<div class="page-subheader">
  <h3>Transformation</h3>
  <hr>
</div>

<div class="selector">
  <p>Transform text with <code>.text-lowercase</code>,  <code>.text-uppercase</code> or  <code>.text-capitalize</code>...</p>
  <div class="crds-example main">
<p class="text-lowercase">Whatever your thoughts on church...</p>
<p class="text-uppercase">whatever your beliefs about God...</p>
<p class="text-capitalize">you are welcome here.</p></div>
</div>
