<div class="page-header">
  <h2>Typesetting</h2>
</div>

<div class="page-subheader">
  <h3>Body</h3>
</div>

<div class="selector">
  <code>&lt;main&gt;</code>
  <main>Build relationships with the homeless in our city by hanging out at The Outlet at City Gospel Mission, a place where they can recharge and connect with people who care about them by providing positive interpersonal relationships. Whether it’s playing cards, shooting pool or just sharing stories, friendships are built and hope is transferred at The Outlet. And through the relationships established there, the homeless are then encouraged to enter into long-term recovery programs.</main>
</div>

<div class="selector">
  <code>.lead</code>
  <p class="lead">Build relationships with the homeless in our city by hanging out at The Outlet at City Gospel Mission, a place where they can recharge and connect with people who care about them by providing positive interpersonal relationships. Whether it’s playing cards, shooting pool or just sharing stories, friendships are built and hope is transferred at The Outlet. And through the relationships established there, the homeless are then encouraged to enter into long-term recovery programs.</p>
</div>

<div class="selector">
  <code>.quiet</code>
  <p class="quiet">Build relationships with the homeless in our city by hanging out at The Outlet at City Gospel Mission, a place where they can recharge and connect with people who care about them by providing positive interpersonal relationships. Whether it’s playing cards, shooting pool or just sharing stories, friendships are built and hope is transferred at The Outlet. And through the relationships established there, the homeless are then encouraged to enter into long-term recovery programs.</p>
</div>

<!-- // -->

<div class="page-subheader">
  <h3>Metadata</h3>
</div>

<div class="selector">
  <code>.metadata</code>
  <p class="metadata">Runs: November 14 - December 25</p>
</div>

<div class="selector">
  <code>.subtitle</code>
  <p class="subtitle">Find Freedom</p>
</div>

<div class="selector">
  <code>.tagline</code>
  <p class="tagline">Experience our live stream</p>
</div>

<!-- // -->

<div class="page-subheader">
  <h3>Inline Text</h3>
</div>

<div class="selector">
  <code>&lt;strong&gt;</code>
  <p class="body">Crossroads is <strong>one church</strong> happening in multiple locations. </p>
</div>

<div class="selector">
  <code>&lt;em&gt;</code>
  <p class="body">Crossroads is one church happening in <em>multiple</em> locations. </p>
</div>

<div class="selector">
  <code>&lt;small&gt;</code>
  <p class="body"><small>Crossroads is one church happening in multiple locations.</small></p>
</div>

<!-- // -->

<div class="page-subheader">
  <h3>Alignment</h3>
</div>

<div class="selector">
  <code>.text-left</code>
  <p class="body text-left">Whatever your thoughts on church, whatever your beliefs about God, you are welcome here.</p>
</div>

<div class="selector">
  <code>.text-center</code>
  <p class="body text-center">Whatever your thoughts on church, whatever your beliefs about God, you are welcome here.</p>
</div>

<div class="selector">
  <code>.text-right</code>
  <p class="body text-right">Whatever your thoughts on church, whatever your beliefs about God, you are welcome here.</p>
</div>

<!-- // -->

<div class="page-subheader">
  <h3>Transformation</h3>
</div>

<div class="selector">
  <code>.text-lowercase</code>
  <p class="body text-lowercase">come hang out in our building during the week</p>
</div>

<div class="selector">
  <code>.text-uppercase</code>
  <p class="body text-uppercase">come hang out in our building during the week</p>
</div>

<div class="selector">
  <code>.text-capitalize</code>
  <p class="body text-capitalize">come hang out in our building during the week</p>
</div>



