<div class="page-header">
  <h2>Alert Messages</h2>
</div>

<p>Wrap any text in <code>.alert</code> and a contextual class to create an alert message.</p>

<br>
<code>.alert-success</code>-->

<div class="crds-example">
  <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
</div>

<div class="crds-example dark-theme">
  <div class="alert alert-success" role="alert">Nulla vitae elit libero, a pharetra augue.</div>
</div>

<br>
<code>.alert-info</code>

<div class="crds-example">
  <div class="alert alert-info" role="alert">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</div>
</div>

<div class="crds-example dark-theme">
  <div class="alert alert-info" role="alert">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</div>
</div>

<br>
<code>.alert-warning</code>

<div class="crds-example">
  <div class="alert alert-warning" role="alert">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</div>
</div>

<div class="crds-example dark-theme">
  <div class="alert alert-warning" role="alert">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</div>
</div>

<br>
<code>.alert-danger</code>

<div class="crds-example">
  <div class="alert alert-danger" role="alert">Etiam porta sem malesuada magna mollis euismod.</div>
</div>

<div class="crds-example dark-theme">
  <div class="alert alert-danger" role="alert">Etiam porta sem malesuada magna mollis euismod.</div>
</div>