<div class="container">
  <div class="page-header">
    <h1>Designers</h1>
  </div>
  <p class="lead">Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p>Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>
  <hr>
  <p><a routerLink="/ui" class="btn btn-lg btn-primary">See the UI Components</a></p>
  <br><br>
</div>

<div class="container designers">
  <div class="guidelines">
    <h1 class="page-header">Guidelines</h1>

    <div class="colors"></div>

    <div class="copy"></div>

    <div class="branding"></div>

    <div class="photography"></div>

    <div class="typography">
      <h2>Typography</h2>

      <div class="ddk-typefaces">
        <h3>Typefaces</h3>
      </div>

      <div class="ddk-headings">
        <h3>Headings</h3>
        <div class="ddk-pattern-example">
          <h1>Heading Level 1</h1>
          <h2>Heading Level 2</h2>
          <h3>Heading Level 3</h3>
          <h4>Heading Level 4</h4>
          <h5>Heading Level 5</h5>
          <h6>Heading Level 6</h6>
        </div>
      </div>

      <div class="ddk-horizontal-rule">
        <h3>Horizontal Rule</h3>
        <div class="ddk-pattern-example">
          <hr>
        </div>
      </div>

      <div class="ddk-inline-elements">
        <h3>Inline Elements</h3>
        <div class="ddk-pattern-example">
          <div class="text">
            <p>
              <a href="#">This text is a link.</a>
            </p>

            <p>
              <strong>This is bold text.</strong>
            </p>

            <p>
              <small>This is small text.</small>
            </p>
          </div>
        </div>
      </div>

      <div class="ddk-paragraph">
        <h3>Paragraph</h3>
        <div class="ddk-pattern-example">
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>
    </div>
  </div>
</div>