<div class="page-header">
  <h2>Font Scaling</h2>
</div>

<div class="page-subheader">
  <h3>Headings</h3>
</div>

<p>
  All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are available in both light and dark themes. 
  Alternatively, applying the applicable class, <code>.font-size-h1</code> through <code>.font-size-h6</code>, will extend the correct font-size 
</p>

<div class="crds-example">
  <h1>reachout: the outlet</h1>
</div>

<div class="crds-example">
  <h2>reachout: the outlet</h2>
</div>

<div class="crds-example">
  <h3>reachout: the outlet</h3>
</div>

<div class="crds-example">
  <h4>reachout: the outlet</h4>
</div>

<div class="crds-example">
  <h5>reachout: the outlet</h5>
</div>

<div class="crds-example">
  <h6>reachout: the outlet</h6>
</div>


<div class="page-subheader">
  <h3>Other Font Sizes</h3>
</div>

<p>The following classes are available to set various font heights</p>

<div class="crds-example">
  <p class="font-size-large">reachout: the outlet</p>
</div>

<div class="crds-example">
  <p class="font-size-base">reachout: the outlet</p>
</div>

<div class="crds-example">
  <p class="font-size-small">reachout: the outlet</p>
</div>

<div class="crds-example">
  <p class="font-size-smaller">reachout: the outlet</p>
</div>