

<div class="page-header">
  <h2>Inline SVG Icons</h2>
</div>

<div class="row">

<div class="col-sm-6">
<div class="crds-example">
<svg class="svg-calendar icon icon-1">
<use xlink:href="/assets/sprite.css.svg#calendar"></use>
</svg>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<svg class="svg-check-circle icon icon-1">
<use xlink:href="/assets/sprite.css.svg#check-circle"></use>
</svg>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<svg class="svg-chevron-left icon icon-1">
<use xlink:href="/assets/sprite.css.svg#chevron-left"></use>
</svg>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<svg class="svg-chevron-right icon icon-1">
<use xlink:href="/assets/sprite.css.svg#chevron-right"></use>
</svg>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<svg class="svg-circle-thin icon icon-1">
<use xlink:href="/assets/sprite.css.svg#circle-thin"></use>
</svg>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<svg class="svg-github icon icon-1">
<use xlink:href="/assets/sprite.css.svg#github"></use>
</svg>
</div>
</div>

<div class="col-sm-6">
<div class="crds-example">
<svg class="svg-usd icon icon-1">
<use xlink:href="/assets/sprite.css.svg#usd"></use>
</svg>
</div>
</div>

</div>
