<div class="jumbotron">
  <div class="container">
    <crds-content-block id="UIIconsSectionHeader"></crds-content-block>
  </div>
</div>

<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/icons/directory">Icon Directory</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/icons/inline-svg">Inline SVG Icons</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/icons/css-svg">CSS Icons</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/icons/resize-svg">Resizing Icons</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
