<div class="page-header">
  <h2>Typefaces</h2>
</div>

<p class="lead">The class selectors defined below require the inclusion of Crossroad's custom <a href="http://typekit.com">Adobe Typekit</a> font-library. See your friendly digital product owner for more information.</p>

<br><br>

<div class="selector">
  <code>.font-family-base-light</code>
  <div class="example typeface-example font-family-base-light">
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890
  </div>
  <div class="annotation">Acumin Pro: Thin (100)</div>
</div>

<div class="selector">
  <code>.font-family-base</code>
  <div class="example typeface-example font-family-base">
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890
  </div>
  <div class="annotation">Acumin Pro: Light (300)</div>
</div>

<div class="selector">
  <code>.font-family-base-bold</code>
  <div class="example typeface-example font-family-base-bold">
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890
  </div>
  <div class="annotation">Acumin Pro: Semibold (600)</div>
</div>

<div class="selector">
  <code>.font-family-condensed</code>
  <div class="example typeface-example font-family-condensed">
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890
  </div>
  <div class="annotation">Acumin Pro Semicondensed: Semibold (600)</div>
</div>

<div class="selector">
  <code>.font-family-condensed-extra</code>
  <div class="example typeface-example font-family-condensed-extra">
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890
  </div>
  <div class="annotation">Acumin Pro ExtraSemicondensed: Semibold (600)</div>
</div>

<div class="selector">
  <code>.font-family-accent</code>
  <div class="example typeface-example font-family-accent">
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
    abcdefghijklmnopqrstuvwxyz<br>
    1234567890
  </div>
  <div class="annotation">Acumin Pro ExtraSemicondensed: Semibold (600)</div>
</div>
