<div class="page-header">
  <h2>Typefaces</h2>
</div>

<div class="alert alert-warning">
  <p>The class selectors defined below require the inclusion of Crossroad's custom library of web-fonts. <a routerLink="/ui/typography/web-fonts">Click here</a> to learn more about including web-fonts in your project.</p>
</div>

<p>By default, all elements will inherit the base font-family <a href="https://typekit.com/fonts/acumin">Acumin Pro</a>.</p>

<div class="selector typeface-example">
  <p>As long as you're loading Typekit properly, you shouldn't need to do anything to see this typeface rendering in your application. However, you can selectively apply the <code>.font-family-base</code> selector or the <code>$font-family-base</code> variable in your scss files if you run into any trouble.</p>

  <div class="crds-example font-family-base" data-processed="true" data-label="Acumin Pro: Light (300)">
ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
abcdefghijklmnopqrstuvwxyz<br>
1234567890</div>
</div>

<div class="selector typeface-example">
  <p>For the lightest possible weight, the <code>.font-family-base-light</code> selector or the <code>$font-family-base-light</code> variable will render the following...</p>

  <div class="crds-example font-family-base-light" data-processed="true" data-label="Acumin Pro: Thin (100)">
ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
abcdefghijklmnopqrstuvwxyz<br>
1234567890</div>
</div>

<div class="selector typeface-example">
  <p>When you need to provide emphasis with bolder text, you can apply the <code>.font-family-base-bold</code> selector or the <code>$font-family-base-bold</code> variable...</p>

  <div class="crds-example font-family-base-bold" data-processed="true" data-label="Acumin Pro: Semibold (600)">
ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
abcdefghijklmnopqrstuvwxyz<br>
1234567890</div>
</div>

<div class="selector typeface-example">
  <p>Condensed fonts can be useful when trying to fit large amount of text into a small space. Use the <code>.font-family-condensed</code> selector or the <code>$font-family-condensed</code> variable to yield the following style output...</p>

  <div class="crds-example font-family-condensed" data-processed="true" data-label="Acumin Pro Semicondensed: Semibold (600)">
ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
abcdefghijklmnopqrstuvwxyz<br>
1234567890</div>
</div>

<div class="selector typeface-example">
  <p>Sometimes, you need even more condensing. We've got you covered with <code>.font-family-condensed-extra</code> selector or the <code>$font-family-condensed-extra</code> variable. This typeface is also used to provide focus to <a href="/ui/typography/headings">smaller subheadings</a>.</p>

  <div class="crds-example font-family-condensed-extra" data-processed="true" data-label="Acumin Pro Extracondensed: Semibold (600)">
ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
abcdefghijklmnopqrstuvwxyz<br>
1234567890</div>
</div>

<div class="selector typeface-example">
  <p>Sometimes in life, you just need a serif. You can use the <code>.font-family-accent</code> selector or the <code>$font-family-accent</code> variable to gain departure from the traditional sans-serif typefaces described above.</p>

  <div class="crds-example font-family-accent" data-processed="true" data-label="Lexia: Light (300)">
ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
abcdefghijklmnopqrstuvwxyz<br>
1234567890</div>
</div>