<div class="jumbotron">
  <div class="container">
    <content-block id="UILoadersSectionHeader"></content-block>
  </div>
</div>

<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/loaders/icons">Icons</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/loaders/skeletons">Skeletons</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
