<ddk-buttons-jumbotron></ddk-buttons-jumbotron>
<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/buttons/styles">Styles</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/buttons/sizes">Sizes</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/buttons/groups">Groups</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>