<ddk-buttons-jumbotron></ddk-buttons-jumbotron>
<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/buttons/styles">Button Styles</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/buttons/sizes">Button Sizes</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/buttons/states">Button States</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/buttons/groups">Button Groups</a>
          </li>
        </ul>
      </nav>
    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>