<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-list">
        <h5>DDK</h5>
        <ul>
          <li><a href="#">Adipiscing</a></li>
          <li><a href="#">Cursus</a></li>
          <li><a href="#">Egestas</a></li>
          <li><a href="#">Etiam</a></li>
        </ul>
      </div>

      <div class="footer-list">
        <h5>About</h5>
        <ul>
          <li><a href="#">Mollis</a></li>
          <li><a href="#">Euismod</a></li>
          <li><a href="#">Elit</a></li>
          <li><a href="#">Nullam</a></li>
        </ul>
      </div>

      <div class="footer-list">
        <h5>Help</h5>
        <ul>
          <li><a href="#">Nibh</a></li>
          <li><a href="#">Sem</a></li>
          <li><a href="#">Bibendum</a></li>
          <li><a href="#">Lorem</a></li>
        </ul>
      </div>

      <div class="footer-list">
        <h5>Connect</h5>
        <ul>
          <li><a href="#">Venenatis</a></li>
          <li><a href="#">Nullam</a></li>
          <li><a href="#">Sit</a></li>
          <li><a href="#">Inceptos</a></li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row">
      <content-block id="copyright"></content-block>
    </div>
  </div>
</footer>