<div class="page-header">
  <h2>Address</h2>
</div>

<div class="selector">
  <code>&lt;address&gt;</code>
  <address>
    <strong>City Gospel Mission</strong><br>
    1805 Dalton Avenue<br>
    Cincinnati, OH 45214<br>
    <a href="https://goo.gl/maps/zU1TqJD5AF32">Get directions</a><br>
    Phone: <a href="tel://5131234567">513-123-4567</a>
  </address>
</div>

<hr>

<pre>
&lt;address>
  &lt;strong&gt;City Gospel Mission&lt;/strong>&lt;br&gt;
  1805 Dalton Avenue&lt;br&gt;
  Cincinnati, OH 45214&lt;br&gt;
  &lt;a href="https://goo.gl/maps/zU1TqJD5AF32"&gt;Get directions&lt;/a&gt;&lt;br&gt;
  Phone: &lt;a href="tel://5131234567">513-123-4567&lt;/a&gt;
&lt;/address&gt;<!--
--></pre>
