<div class="panel panel-default">
  <theme-toggle-switch></theme-toggle-switch>
  <div class="panel-body">
    <div class="code-render">
      <iframe [src]="iframeSrc" *ngIf="iframeSrc !== undefined" width="{{width}}" height="{{height}}" frameborder="0" allowTransparency="true" class="col-sm-12"></iframe>
    </div>
    <div class="code-view">
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" *ngFor="let file of files" class="list-group-item" (click)="onClick(file)">{{file}}</a>
        </div>
      </div>
      <div class="col-sm-9">
        <pre>{{markup}}</pre>
      </div>
    </div>
  </div>
</div>