<div class="page-header">
  <h2>Checkboxes</h2>
</div>

<p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>

<div class="crds-example">
  <div class="btn-group">
    <button class="btn btn-option btn-outline">Option</button>
    <button class="btn btn-option btn-outline">Option</button>
  </div>
</div>

<div class="crds-example dark-theme">
  <div class="btn-group">
    <button class="btn btn-option btn-outline">Option</button>
    <button class="btn btn-option btn-outline">Option</button>
  </div>
</div>