<ddk-forms-jumbotron></ddk-forms-jumbotron>
<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/forms/controls">Base Controls</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/forms/states">States</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/forms/alerts">Alert Messages</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>