<ddk-forms-jumbotron></ddk-forms-jumbotron>
<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/forms/controls">Controls</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/forms/states">States</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/forms/text-input">Text Input</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/forms/text-area">Text Area</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/forms/select">Select</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/forms/radio">Radio</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/forms/checkbox">Checkbox</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/forms/alerts">Alerts</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>