

<div class="page-header">
  <h2>Icon Directory</h2>
</div>

<p>Below is a full list of the approved icons. Icons can be added either by an <a routerLink="/ui/icons/inline-svg">inline SVG</a> or an <a routerLink="/ui/icons/css-svg"><code>&lt;i&gt;</code> tag</a></p>
<p>
  In order to add a new icon to the directory, <a href="#">send a request</a> to Communications with the proposed new SVG.
</p>

<ul class="list-unstyled push-top soft-top icon-directory-list">
  <li>
    <i class="icon icon-1 svg-calendar"></i> <span class="soft-half-left">svg-calendar</span>
  </li>
  <li>
    <i class="icon icon-1 svg-check-circle"></i> <span class="soft-half-left">svg-check-circle</span>
  </li>
  <li>
    <i class="icon icon-1 svg-chevron-left"></i> <span class="soft-half-left">svg-chevron-left</span>
  </li>
  <li>
    <i class="icon icon-1 svg-chevron-right"></i> <span class="soft-half-left">svg-chevron-right</span>
  </li>
  <li>
    <i class="icon icon-1 svg-circle-thin"></i> <span class="soft-half-left">svg-circle-thin</span>
  </li>
  <li>
    <i class="icon icon-1 svg-github"></i> <span class="soft-half-left">svg-github</span>
  </li>
  <li>
    <i class="icon icon-1 svg-usd"></i> <span class="soft-half-left">svg-usd</span>
  </li>
</ul>
